@using PapiroMVC.Validation

@{
    string strings = "~/Areas/Account/Views/Account/Strings";
    ViewBag.Title = Html.T(strings, "ConfirmEditProfileTitle");
}


<div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
    </button>

    <i class="icon-ok green"></i>
    @Html.T(strings, "ConfirmChangePassword")
</div>

<p>
    <button class="btn btn-primary" type="button" onclick="Javascript:window.location.replace('@Url.Action("Index", "Home", new { Area = "" })');">
        <i class="icon-home bigger-125"></i>
        @Html.T(strings, "Home")
    </button>

</p>


@section title{
    @Html.T(strings, "ConfirmChangePasswordTitle")
}

@section description{
    @Html.T(strings, "EditProfileTitle")
}


@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />
}

@section specificPluginScript {
    <script src="~/Content/acetheme/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jquery.ui.touch-punch.min.js"></script>
}
