@using PapiroMVC.Validation
@model PapiroMVC.Models.TaskEstimatedOnRun

@{
    string strings = "~/Areas/DataBase/Views/TaskExecutor/Strings";
    ViewBag.Desc = (string)HttpContext.GetLocalResourceObject(strings, "TaskEstimatedOnRun");
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "PrinterTitle");

}

<fieldset>
    <legend>@HttpContext.GetLocalResourceObject(strings, "StartingLabel")</legend>
    @Html.Hidden("returnUrl", TempData["TaskExecutorIndex"])

    @Html.HiddenFor(model => model.TimeStampTable)
    @Html.HiddenFor(model => model.CodTaskExecutor)
    @Html.HiddenFor(model => model.CodTaskExecutorOn)


    @Html.AlgolaEditorFor(model => model.StartingCost1)
    @Html.AlgolaEditorFor(model => model.StartingCost2)

    @Html.AlgolaEditorFor(model => model.CostForfait)
    @Html.AlgolaEditorFor(model => model.CostForfaitForSheet)

</fieldset>

<fieldset>
    <legend>@HttpContext.GetLocalResourceObject(strings, "CostPerUnitLabel")</legend>

    @Html.AlgolaEditorFor(model => model.CostPerUnit)

    @Html.EditorFor(model => model.UseDifferentCostPerUnit)

    <div id="_listAvarageRunPerRunStep@(Model.CodTaskExecutorOn)">
        @Html.Partial("_ListCostPerRunStepNEW", Model)
    </div>

    @Html.EditorFor(model => model.UseDifferentDeficitOnCostForWeightStep)

    <div id="_listDeficitForWeightStep@(Model.CodTaskExecutorOn)">
        @Html.Partial("_ListDeficitOnCostForWeightStepNEW", Model)
    </div>

</fieldset>
