@using PapiroMVC.Validation

@{
    string strings = "~/Views/Shared/Strings";
}

        <div class="page-sidebar">
            <ul>
                <li class="sticker sticker-color-green" data-role="dropdown">
                    <a>@Html.T(strings,"PrintableArticleMenu")</a>
                    <ul class="sub-menu sidebar-dropdown-menu light">
                        <li>
                            @Html.ActionLink(@Html.T(strings,"SheetPrintableArticleMenu"),"IndexSheetPrintableArticle","Article", new { area = "DataBase" },null)
                        </li>
                        <li>
                            @Html.ActionLink(@Html.T(strings,"RollPrintableArticleMenu"),"IndexRollPrintableArticle","Article", new { area = "DataBase" },null)
                        </li>
                    </ul>
                </li>                
                <li class="sticker sticker-color-red" data-role="dropdown">
                    <a>@Html.T(strings,"TaskExecutorMenu")</a>
                    <ul class="sub-menu sidebar-dropdown-menu light">
                        <li>
                            @Html.ActionLink(@Html.T(strings,"DigitalSheetMenu"),"IndexDigitalSheet","TaskExecutor", new { area = "DataBase" },null)
                        </li>
                        <li>
                            @Html.ActionLink(@Html.T(strings,"LithoSheetMenu"),"IndexLithoSheet","TaskExecutor", new { area = "DataBase" },null)
                        </li>
                    </ul>
                </li>   
                             
                <li class="sticker sticker-color-blue" data-role="dropdown">
                    <a>@Html.T(strings,"CustomerSupplierMenu")</a>
                    <ul class="sub-menu sidebar-dropdown-menu light">
                        <li>
                            <a>@Html.ActionLink(@Html.T(strings,"CustomerSupplierMenu"),"Index","CustomerSupplier", new { area = "DataBase" },null)</a>
                        </li>
                    </ul>
                </li>                                
            </ul>
    
        </div>
