<!DOCTYPE html>

<html lang="@ViewBag.Lang">

<head>

    <meta charset="utf-8" />

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/papiro.png" rel="shortcut icon" type="image/x-icon" />

    <title>@TempData["MetaTitle"]</title>
    <meta name="description" content="@TempData["MetaDescription"]" />
    <meta name="keyword" content="@TempData["MetaKeyword"]" />
    <meta name="robots" content="@TempData["MetaRobots"]" />

    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/spin.js"></script>

    <!--basic styles-->
    <link href="~/Content/acetheme/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/acetheme/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
		  <link rel="stylesheet" href="~/Content/acetheme/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

    <!-- page specific plugin styles -->
    @RenderSection("specificPlugInStyle", required: false)

    <link rel="stylesheet" href="~/Content/acetheme/assets/css/prettify.css" />

    <!--fonts-->
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ace-fonts.css" />

    <!--ace styles-->

    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ace-skins.min.css" />
    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="~/Content/acetheme/assets/css/ace-ie.min.css" />
		<![endif]-->

    <!-- inline styles related to this page -->
    @RenderSection("inlineStyle", required: false)
    @*    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
*@
    <!-- ace settings handler -->
    <script src="~/Content/acetheme/assets/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

		<script src="~/Content/acetheme/assets/js/html5shiv.js"></script>
		<script src="~/Content/acetheme/assets/js/respond.min.js"></script>
		<![endif]-->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-29766054-1', 'gestionestampa.com');
        ga('send', 'pageview');

    </script>


</head>

<body>

    <header>
        <nav>
            <div class="navbar navbar-default" id="navbar">
                <script type="text/javascript">
                    try { ace.settings.check('navbar', 'fixed') } catch (e) { }
                </script>

                <!-- section for TopBar -->
                @Html.Partial("_TopBarAceTheme")
            </div>
        </nav>
    </header>

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>
        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            <!-- renderizzo la toolbar a sx richiudibile (sidebar)-->
            @Html.Partial("_SideBarAceTheme")

            <div class="main-content">
                @RenderSection("breadcrumb", required: false)


                <div class="page-content">
                    <div id="page-header" class="page-header position-relative">
                        <h1>
                            @RenderSection("title")
                            <small>
                                <i class="icon-double-angle-right"></i>
                                @RenderSection("description")
                            </small>
                        </h1>
                    </div>
                    <!--/.page-header-->
                    <div class="row-fluid">
                        <div class="span12">
                            @RenderSection("featured", required: false)
                            @RenderBody()
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.main-container-inner -->

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="icon-double-angle-up icon-only bigger-110"></i>
            </a>

        </div>
    </div>
    <!-- /.main-container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!--<script src="~/Scripts/bootstrap.min.js"></script>-->

    <!--basic scripts-->

    <!--[if !IE]>-->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/Content/acetheme/assets/js/jquery-2.1.0.min.js'>" + "<" + "/script>");
    </script>

    <!--<![endif]-->

    <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/Content/acetheme/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/Content/acetheme/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Content/acetheme/assets/js/bootstrap.min.js"></script>

    <!--page specific plugin scripts-->
    <!-- page specific plugin scripts -->
    @RenderSection("specificPluginScript", required: false)


    @Html.Partial("_loading")


    <script src="~/Content/acetheme/assets//js/prettify.js"></script>

    <!--ace scripts-->

    <script src="~/Content/acetheme/assets/js/ace-elements.min.js"></script>
    <script src="~/Content/acetheme/assets/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    @RenderSection("Scripts", required: false)

</body>

</html>
