@*Generic side bar in ace theme*@
@using PapiroMVC.Validation

@{
    string strings = "~/Views/Shared/Strings";
}

<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <ul class="nav nav-list">
        <li id="homeSidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "AppName"), "Index", "Home", new { area = "" }, "fa fa-fw fa-lg fa-home", "menu-text")
        </li>

        <li id="customerSidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "CustomerSupplierMenu"), "Index", "CustomerSupplier", new { area = "DataBase" }, "fa fa-fw fa-lg fa-male", "menu-text")
        </li>

        @*<li id="InkSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "InkMenu"), "IndexInk", "Article", new { area = "DataBase" }, "fa fa-fw fa-lg fa-stack-overflow", "menu-text")
        </li>*@

        <li id="FoilSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "FoilMenu"), "IndexFoil", "Article", new { area = "DataBase" }, "fa fa-fw fa-lg fa-stack-overflow", "menu-text")
        </li>

        @*<li id="SerigraphySlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "SerigraphyMenu"), "IndexOptionTypeOfTaskSerigraphy", "TaskExecutor", new { area = "DataBase" }, "fa fa-fw fa-lg fa-stack-overflow", "menu-text")
        </li>*@

        <li id="SerigraphySlidebar">
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-fw fa-lg fa-file-text-o"></i>
                <span class="menu-text">@Html.T(strings, "SerigraphyArticleMenu") </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li id="SerigraphyOptionSlidebar">
                    @Html.ActionLinkImageSpan(Html.T(strings, "SerigraphyMenu"), "IndexOptionTypeOfTaskSerigraphy", "TaskExecutor", new { area = "DataBase" }, "fa fa-fw fa-lg fa-stack-overflow", "menu-text")
                </li>

                <li id="InkSlidebar">
                    @Html.ActionLinkImageSpan(Html.T(strings, "InkMenu"), "IndexInk", "Article", new { area = "DataBase" }, "fa fa-fw fa-lg fa-stack-overflow", "menu-text")
                </li>
            </ul>
        </li>


        <li id="noPrintableSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "DieMenu"), "IndexDie", "Article", new { area = "DataBase" }, "fa fa-fw fa-lg fa-th-large", "menu-text")
        </li>

        <li id="databaseSlidebar">
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-fw fa-lg fa-file-text-o"></i>
                <span class="menu-text">@Html.T(strings, "PrintableArticleMenu") </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
                <li id="sheetSlidebar">
                    @Html.ActionLinkImage(Html.T(strings, "SheetPrintableArticleMenu"), "IndexSheetPrintableArticle", "Article", new { area = "DataBase" }, "icon-double-angle-right")
                </li>

                <li id="rollSlidebar">
                    @Html.ActionLinkImage(@Html.T(strings, "RollPrintableArticleMenu"), "IndexRollPrintableArticle", "Article", new { area = "DataBase" }, "icon-double-angle-right")
                </li>

                <li id="rigidSlidebar">
                    @Html.ActionLinkImage(@Html.T(strings, "RigidPrintableArticleMenu"), "IndexRigidPrintableArticle", "Article", new { area = "DataBase" }, "icon-double-angle-right")
                </li>
            </ul>
        </li>


        <li id="taskexecutorSlidebar">
            <a href="#" class="dropdown-toggle">
                <i class="fa fa-fw fa-lg fa-crosshairs"></i>
                <span class="menu-text">@Html.T(strings, "TaskExecutorMenu") </span>

                <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">

                @*<li id="lithoSlidebar">
                    @Html.ActionLinkImage(@Html.T(strings, "LithoSheetMenu"), "IndexLithoSheetAndRoll", "TaskExecutor", new { area = "DataBase" }, "icon-double-angle-right")
                </li>
                <li id="flexoSlidebar">
                    @Html.ActionLinkImage(@Html.T(strings, "FlexoMenu"), "IndexFlexo", "TaskExecutor", new { area = "DataBase" }, "icon-double-angle-right")
                </li>
                <li id="digitalSlidebar">
                    @Html.ActionLinkImage(@Html.T(strings, "DigitalSheetMenu"), "IndexDigitalSheetAndRoll", "TaskExecutor", new { area = "DataBase" }, "icon-double-angle-right")
                </li>
                <li id="plotterSlidebar">
                    @Html.ActionLinkImage(@Html.T(strings, "PlotterMenu"), "IndexPlotter", "TaskExecutor", new { area = "DataBase" }, "icon-double-angle-right")
                </li>
                <li id="prepostSlidebar">
                    @Html.ActionLinkImage(@Html.T(strings, "PrePostPressMenu"), "IndexPrePostPress", "TaskExecutor", new { area = "DataBase" }, "icon-double-angle-right")
                </li>*@

                <li id="stamparigido">
                    @Html.ActionLinkImage(@Html.T(strings, "STAMPARIGIDOMenu"), "IndexTaskExecutors", "TaskExecutor", new { area = "DataBase", codTypeOfTask = "STAMPARIGIDO" }, "icon-double-angle-right")
                </li>
                <li id="stampamorbido">
                    @Html.ActionLinkImage(@Html.T(strings, "STAMPAMORBIDOMenu"), "IndexTaskExecutors", "TaskExecutor", new { area = "DataBase", codTypeOfTask = "STAMPAMORBIDO" }, "icon-double-angle-right")
                </li>
                <li id="stampaetichrotolo_list">
                    @Html.ActionLinkImage(@Html.T(strings, "STAMPAETICHETTEROTOLOMenu"), "IndexTaskExecutors", "TaskExecutor", new { area = "DataBase", codTypeOfTask = "STAMPAETICHROTOLO_LIST" }, "icon-double-angle-right")
                </li>
                <li id="inpiano">
                    @Html.ActionLinkImage(@Html.T(strings, "STAMPAOFFeDIGITALEMenu"), "IndexTaskExecutors", "TaskExecutor", new { area = "DataBase", codTypeOfTask = "INPIANO" }, "icon-double-angle-right")
                </li>

            </ul>
        </li>

        <li id="warehouseSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "WarehouseArticleMenu"), "IndexWarehouse", "Article", new { area = "DataBase" }, "fa fa-fw fa-lg fa-stack-overflow", "menu-text")
        </li>



    </ul>
    <!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>


