@using PapiroMVC.Validation
@using PapiroMVC.Models
@model PapiroMVC.Models.PrintingSheetCostDetail
@{
    string strings = "~/Areas/Working/Views/Document/Strings";
    List<SelectListItem> formatTypes = new List<SelectListItem>();

    formatTypes.Add(new SelectListItem { Value = "0", Text = "Auto" });
    formatTypes.Add(new SelectListItem { Value = "1", Text = "Corto/Corto" });
    formatTypes.Add(new SelectListItem { Value = "2", Text = "Corto/Lungo" });

    var pos = (Model.ProductPartPrinting.ForceSide).ToString();

    foreach (var item in formatTypes)
    {
        item.Selected = item.Value == pos;
    }

    Console.Write("ciao");
    
}

<div class="container-fluid">

    <div class="row">

        <div class="well col-xs-12">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xs-4">
                        <h6 class="col-xs-12 control-label no-padding-left no-padding-bottom">@Html.T(strings, "FormatoCM")</h6>
                        @Html.TextBoxFor(y => y.ProductPart.Format, new { @class = "col-xs-12 input-mini", id = "ddPartFormat" })
                    </div>

                    <div class="col-xs-4">
                        <h6 class="col-xs-12 control-label no-padding-left no-padding-bottom">@Html.T(strings, "Interspazio")</h6>
                        @Html.TextBoxFor(y => y.ProductPart.DCut1, new { @class = "col-xs-12 input-mini", id = "ddPartDCut1" })
                    </div>

                    <div class="col-xs-4">
                        <h6 class="col-xs-12 control-label no-padding-left no-padding-bottom">@Html.T(strings, "Interspazio")</h6>
                        @Html.TextBoxFor(y => y.ProductPart.DCut2, new { @class = "input-mini col-xs-12", id = "ddPartDCut2" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="well col-xs-12">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-xs-4">
                        <h6 class="col-xs-12 control-label no-padding-right no-padding-bottom">Pose H***</h6>
                        @Html.TextBoxFor(y => y.ProductPartPrinting.CalculatedSide1Gain, new { @class = "col-xs-12 input-mini", id = "gain1" })
                    </div>

                    <div class="col-xs-4">
                        <h6 class="col-xs-12 control-label no-padding-right no-padding-bottom">Pose L***</h6>
                        @Html.TextBoxFor(y => y.ProductPartPrinting.CalculatedSide2Gain, new { @class = "col-xs-12 input-mini", id = "gain2" })
                    </div>

                    <div class="col-xs-4">
                        <h6 class="col-xs-12 control-label no-padding-right no-padding-bottom">Disp***</h6>
                        @Html.DropDownList(pos, formatTypes, new { @class = "col-xs-12 input-medium", id = "forceSide" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>