@using PapiroMVC.Validation
@model List<PapiroMVC.Models.DocumentProduct>

@{
    string strings = "~/Areas/Working/Views/Document/Strings";
    ViewBag.Title = "EditDocumentProducts";
}

@section title{
    @Html.T(strings, "Document")
}

@section description{
    @Html.T(strings, "EditDocumentProductsDesc")
}

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs" id="myTabo">

        <li class="active">
            <a data-toggle="tab" href="#frame0">
                @Html.T(strings, "ProductDescription")
                <i class="pink icon-dashboard bigger-110"></i>
            </a>
        </li>

        @for (int i = 0; i < Model.Count; i++)
        { 
            <li><a data-toggle="tab" href="#frame@((i + 1).ToString())">
                <i class="blue icon-stackexchange bigger-110"></i>

                @if (Model[i].Quantity != null)
                {
                    @Model[i].Quantity.ToString()
                }
                else
                {
                    @Html.Label("Quantità non impostata");
                }
            </a>
            </li>
        }

        <li>
            <a data-toggle="tab" href="#dropdown13">
                <i class="icon-rocket"></i>
                More
            </a>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane in active" id="frame@((0).ToString())">
            @Html.Label(Model.First().Product.ProductName)
        </div>

        <!-- parts -->
        @for (int i = 0; i < Model.Count; i++)
        {
            ViewBag.IndexPart = i;
            
            <div class="tab-pane" id="frame@((i + 1).ToString())">
                @Html.EditorFor(model => model[i]);
            </div>
        }

        <div id="home3" class="tab-pane">
            <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
            <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
        </div>

    </div>
</div>
