@model PapiroMVC.Models.Document
@using PapiroMVC.Validation

@{
    string stringsGrid = "~/Areas/Working/Views/Document/CustomerSupplierStrings";
    string url = Url.Action("CustomerSupplierList", new { controller = "CustomerSupplier", area = "DataBase" });    
}

<div id="status">
    @Scripts.Render("~/bundles/jqueryval")

    @using (Ajax.BeginForm("Action", "Document", new AjaxOptions { UpdateTargetId = "status", OnBegin = "ShowProcessingMsg", OnComplete = "HideProcessingMsg", OnSuccess = "OnSuccess" }, new { @class = "form-horizontal" }))
    {
        
        @Html.ValidationSummary(true)
            
        <div class="tabbable">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#customer">
                        <i class="green icon-home bigger-110"></i>
                        ***Cliente***
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#profile">Messages
														<span class="badge badge-danger">4</span>
                    </a>
                </li>

                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown &nbsp;
														<i class="icon-caret-down bigger-110 width-auto"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-info">
                        <li>
                            <a data-toggle="tab" href="#dropdown1">fat</a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#dropdown2">mdo</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="tab-content">
                <div id="customer" class="tab-pane in active">
                    @Html.AlgolaEditorFor(model => model.Customer, new { @readonly = "readonly" })
                    @Html.HiddenFor(model => model.CodDocument)
                    @Html.AlgolaEditorFor(model => model.DateDocument)
                    @Html.HiddenFor(model => model.DocumentName)
                    @Html.AlgolaEditorFor(model => model.Notes)
                    @Html.AlgolaEditorFor(model => model.Number)
                    @Html.HiddenFor(model => model.TimeStampTable)

                    @Html.HiddenFor(model => model.CodCustomer)
                    <a href="javascript:void(0)" id="staticDialogCustomer">@Html.T(stringsGrid, "DialogTitle")</a>

                    <div id="accordion" class="accordion-style1 panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="bigger-110 icon-angle-right" data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
                                        &nbsp;****Ricerca cliente
                                    </a>
                                </h5>
                            </div>

                            <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
                                <div class="panel-body">
                                    <table id="gridArticle">
                                        <tr>
                                            <td />
                                        </tr>
                                    </table>

                                    <div id="pagerArticle">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="profile" class="tab-pane">
                    <div id="_listDocumentProduct">
                        @Html.Partial("_ListDocumentProduct", Model)
                    </div>
                </div>

                <div id="dropdown1" class="tab-pane">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                </div>

                <div id="dropdown2" class="tab-pane">
                    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.</p>
                </div>
            </div>
        </div>

        


        <br />
        <br />
    
        <button type="button" onclick="Javascript:window.location.replace('@Url.Action("CreateProduct", "Product", new { Area = "Working" })');">
            <i class="icon-plus"></i>
            @Html.T(stringsGrid, "NewProduct")
        </button>        
        <button class="default" type="submit" name="@ViewBag.ActionMethod">
            <i class="icon-save"></i>
            @HttpContext.GetLocalResourceObject(stringsGrid, "Save")
        </button> 

    }

</div>

<script type="text/javascript">
    $(document).ready(

        function () {

            $('#DateDocument').datepicker({ dateFormat: "dd/mm/yy" });

            var lastSel = -1;

            var myGrid = $("#gridArticle").jqGrid({
                url: '@url',
                datatype: 'json',
                colModel: [
                    { name: 'Id', label: 'OperationsCaption', key: true, width: 80, editable: false, hidden: true },
                    { name: 'CodCustomer', label: '@HttpContext.GetLocalResourceObject(stringsGrid, "CodCustemerSupplierCaption")', width: 120, align: 'left', editable: false, hidden: false },
                    { name: 'Customer', label: '@HttpContext.GetLocalResourceObject(stringsGrid, "CustomersCaption")', width: 120, align: 'left', editable: false, hidden: true },
                    { name: 'BusinessName', label: '@HttpContext.GetLocalResourceObject(stringsGrid, "BusinessNameCaption")', width: 120, align: 'left', editable: false, hidden: false },

                ],

                pager: '#pagerArticle',

                rowNum: 15,
                rowList: [15, 20, 50],
                viewrecords: true,
                autowidth: false,

                onSelectRow: function (id) {
                    if (id && id !== lastSel) {
                        myGrid.jqGrid('restoreRow', lastSel);
                        lastSel = id;
                    }
                },

                ondblClickRow: function (id, ri, ci) {

                    if (lastSel != -1) {

                        var myGrid = $('#gridArticle'),
                            selRowId = myGrid.jqGrid('getGridParam', 'selrow'),
                            celValueCodCustemerSupplier = myGrid.jqGrid('getCell', lastSel, 'CodCustomer');

                        $('#CodCustomer').val(celValueCodCustemerSupplier);


                        var myGrid = $('#gridArticle'),
                            selRowId = myGrid.jqGrid('getGridParam', 'selrow'),
                            celValueCustemerSupplier = myGrid.jqGrid('getCell', lastSel, 'BusinessName');

                        $('#Customer').val(celValueCustemerSupplier);

                        $(this).dialog("close");

                    }

                }

            });

            myGrid.jqGrid('navGrid', '#pagerArticle', { edit: false, add: false, del: false, search: true });
            myGrid.jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });

        });

        function reloadArticle() {
            $("#gridArticle").trigger("reloadGrid");
        }

        $('#staticDialogCustomer').click(function (e) {

            e.preventDefault();
            //eventually stop spinner
            HideProcessingMsg();

            var dialog = $("#dialog-message").removeClass('hide').dialog({

                'title': '@Html.T(stringsGrid, "DialogSubTitle")',
                'buttons': {
                    '@Html.T(stringsGrid, "Cancel")': {
                        "class": "btn btn-xs",
                        'action': function () {
                            $(this).dialog("close");
                        }
                    },
                    '@Html.T(stringsGrid, "Ok")': {
                        "class": "btn btn-primary btn-xs",
                        'action': function () {
                            if (lastSel != -1) {

                                var myGrid = $('#gridArticle'),
                                    selRowId = myGrid.jqGrid('getGridParam', 'selrow'),
                                    celValueCodCustemerSupplier = myGrid.jqGrid('getCell', lastSel, 'CodCustomer');

                                $('#CodCustomer').val(celValueCodCustemerSupplier);


                                var myGrid = $('#gridArticle'),
                                    selRowId = myGrid.jqGrid('getGridParam', 'selrow'),
                                    celValueCustemerSupplier = myGrid.jqGrid('getCell', lastSel, 'BusinessName');

                                $('#Customer').val(celValueCustemerSupplier);

                                $(this).dialog("close");

                            }

                        }
                    }
                }
            });

        });

</script>
