@model PapiroMVC.Models.OptionTypeOfTask
@using PapiroMVC.Validation

@{
    string strings = "~/Areas/DataBase/Views/TaskExecutor/Strings";

}

<div id="status">

    @Scripts.Render("~/bundles/autocomplete")
    @using (Ajax.BeginForm("Action", "TaskExecutor", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions { UpdateTargetId = "status", OnBegin = "showProcessingMsg", OnComplete = "hideProcessingMsg", OnSuccess = "OnSuccess" }, new { @class = "form-horizontal" }))
    {
        <div class="row">
            <div class="col-xs-12">

                @Html.ValidationSummary(true)

                @Html.HiddenFor(x => x.CodTypeOfTask)

                @Html.HiddenFor(model => model.TimeStampTable)
                @Html.HiddenFor(model => model.IdexOf)

                @Html.HiddenFor(model => model.CodOptionTypeOfTask)
                @Html.HiddenFor(model => model.CodTypeOfTask)
                @Html.HiddenFor(model => model.OptionName)
                @Html.AlgolaEditorFor(model => model.MeshRow)
                @Html.AlgolaEditorFor(model => model.MeshCostMq)
                @Html.AlgolaEditorFor(model => model.GainMqPerLt)

                @*
                    @Html.HiddenFor(model => model.Pinza)
                    @Html.HiddenFor(model => model.ControPinza)

                *@

                @*        <h3>@Html.T(strings, "PrintSection")</h3> *@

                <p>

                    <button class="btn btn-warning" type="button" onclick="Javascript:window.location.replace('@Url.Action("IndexOptionTypeOfTaskSerigraphy", "TaskExecutor", new { Area = "Database" })');">
                        <i class="icon-arrow-left"></i>
                        @HttpContext.GetLocalResourceObject(strings, "Cancel")
                    </button>

                    <button class="default btn btn-primary" type="submit" name="@ViewBag.ActionMethod">
                        <i class="icon-save"></i>
                        @HttpContext.GetLocalResourceObject(strings, "Save")
                    </button>

                </p>

         }

            </div>
        </div>

    </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

