@using PapiroMVC.Validation
@model PapiroMVC.Models.ControlTableRollEstimatedOnTime

@{
    string strings = "~/Areas/DataBase/Views/TaskExecutor/Strings";
    ViewBag.Desc = (string)HttpContext.GetLocalResourceObject(strings, "TaskEstimatedOnTime");
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "PrinterTitle");
}

<div id="status">

    @Scripts.Render("~/bundles/autocomplete")
    @using (Ajax.BeginForm("Action", "TaskExecutor", new AjaxOptions { UpdateTargetId = "status", OnBegin = "showProcessingMsg", OnComplete = "hideProcessingMsg", OnSuccess = "OnSuccess" }, new { @class = "form-horizontal" }))
    {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@HttpContext.GetLocalResourceObject(strings, "StartingLabel")</legend>

        @Html.Hidden("returnUrl", TempData["TaskExecutorIndex"])


        @Html.HiddenFor(model => model.TimeStampTable)
        @Html.HiddenFor(model => model.CodTaskExecutor)
        @Html.HiddenFor(model => model.CodTaskEstimatedOn)

        <div class="editor-field">
            @Html.AlgolaEditorFor(model => model.StartingTime1)
            @Html.AlgolaEditorFor(model => model.StartingTime2)
            @Html.AlgolaEditorFor(model => model.StartingTimePerColor)
            @Html.AlgolaEditorFor(model => model.CostPerHourStarting)
            @*deprecated  @Html.AlgolaEditorFor(model => model.TimeForfait) *@
        </div>
    </fieldset>

    <fieldset>
        <legend>@HttpContext.GetLocalResourceObject(strings, "AvarageRunPerRunLabel")</legend>

        @Html.AlgolaEditorFor(model => model.AvarageRunPerHour)

    </fieldset>

    <fieldset>
        <legend>@HttpContext.GetLocalResourceObject(strings, "CostsLabel")</legend>

        @Html.AlgolaEditorFor(model => model.CostPerHourRunning)

        @Html.AlgolaEditorFor(model => model.CostForfait)
        @*deprecated            @Html.AlgolaEditorFor(model => model.CostForfaitForSheet)
        *@
    </fieldset>
    <p>
        <button class="btn btn-warning" type="button" onclick="Javascript:window.location.replace('@Url.Action((string)ViewBag.ReturnUrl, "TaskExecutor", new { Area = "Database" })');">
            <i class="icon-undo bigger-125"></i>
            @HttpContext.GetLocalResourceObject(strings, "Cancel")
        </button>


        @ViewBag.ActionMethod

        <button class="default btn btn-primary" type="submit" name="@ViewBag.ActionMethod">
            <i class="icon-save bigger-160"></i>
            @HttpContext.GetLocalResourceObject(strings, "Save")
        </button>

    </p>

    }

</div>


@section breadcrumb {

}

@section ScriptS{
    @Scripts.Render("~/bundles/jqueryval")
}


@section title{
    @ViewBag.Title
}

@section description{
    @ViewBag.Desc
}

@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
}

@section specificPluginScript {
    <script src="~/Content/acetheme/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jqgridHelper.js"></script>
}