@using PapiroMVC.Validation
@model PapiroMVC.Models.TaskEstimatedOnRun

@{
    string strings = "~/Areas/DataBase/Views/TaskExecutor/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "TaskEstimatedOnRun");
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm("TaskEstimatedOnRun", "TaskExecutor"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TaskEstimatedOnRun</legend>

            @Html.HiddenFor(model => model.TimeStampTable)
            @Html.HiddenFor(model => model.CodTaskExecutor)
            @Html.HiddenFor(model => model.CodTaskExecutorOn)

        <h3>@HttpContext.GetLocalResourceObject(strings, "StartingLabel")</h3>
        <br />

            @Html.AlgolaEditorFor(model => model.StartingCost1)
            @Html.AlgolaEditorFor(model => model.StartingCost2)

            @Html.AlgolaEditorFor(model => model.CostForfait)
            @Html.EditorFor(model => model.CostForfaitForSheet)

        <h3>@HttpContext.GetLocalResourceObject(strings, "CostPerUnitLabel")</h3>
        <br />
                
            @Html.AlgolaEditorFor(model => model.CostPerUnit)

            @Html.EditorFor(model => model.UseDifferentCostPerUnit)
        <div id="_listAvarageRunPerRunStep">
            @Html.Partial("_ListCostPerRunStep", Model)
        </div>
        <br />

            @Html.EditorFor(model => model.UseDifferentDeficitOnCostForWeightStep)

        <div id="_listDeficitForWeightStep">
            @Html.Partial("_ListDeficitOnCostForWeightStep", Model)
        </div>

        <h3>@HttpContext.GetLocalResourceObject(strings, "CostsLabel")</h3>
        <br />


        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
