@using PapiroMVC.Validation
@model PapiroMVC.Models.TaskEstimatedOnTime

@{
    string strings = "~/Areas/DataBase/Views/TaskExecutor/Strings";
    ViewBag.Desc = (string)HttpContext.GetLocalResourceObject(strings, "TaskEstimatedOnTime");    
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "PrinterTitle");

}


<div id="status">


    <h2>@ViewBag.Title</h2>

    @Scripts.Render("~/bundles/autocomplete")
    @using (Ajax.BeginForm("TaskEstimatedOnTime", "TaskExecutor", new AjaxOptions { UpdateTargetId = "status", OnBegin = "showProcessingMsg", OnComplete = "hideProcessingMsg", OnSuccess = "OnSuccess" }, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>TaskEstimatedOnTime</legend>

            @Html.Hidden("returnUrl", TempData["TaskExecutorIndex"])


            @Html.HiddenFor(model => model.TimeStampTable)
            @Html.HiddenFor(model => model.CodTaskExecutor)
            @Html.HiddenFor(model => model.CodTaskExecutorOn)

            <h3>@HttpContext.GetLocalResourceObject(strings, "StartingLabel")</h3>

            <div class="editor-field">
                @Html.AlgolaEditorFor(model => model.StartingTime1)
                @Html.AlgolaEditorFor(model => model.StartingTime2)
                @Html.AlgolaEditorFor(model => model.TimeForfait)
            </div>

            <h3>@HttpContext.GetLocalResourceObject(strings, "AvarageRunPerRunLabel")</h3>

            @Html.AlgolaEditorFor(model => model.AvarageRunPerHour)

            @Html.EditorFor(model => model.UseDifferentRunPerHour)

            <div id="_listAvarageRunPerRunStep">
                @Html.Partial("_ListAvarageRunPerRunStep", Model)
            </div>

            @Html.EditorFor(model => model.UseDifferentDeficitForWeightStep)

            <div id="_listDeficitForWeightStep">
                @Html.Partial("_ListDeficitForWeightStep", Model)
            </div>

            <h3>@HttpContext.GetLocalResourceObject(strings, "CostsLabel")</h3>


            @Html.AlgolaEditorFor(model => model.CostPerHourRunning)
            @Html.AlgolaEditorFor(model => model.CostPerHourStarting)
            @Html.AlgolaEditorFor(model => model.CostForfait)
            @Html.AlgolaEditorFor(model => model.CostForfaitForSheet)
            <br />
            <p>
                <button type="button" onclick="Javascript:window.location.replace('@Url.Action((string)TempData["TaskExecutorIndex"], "TaskExecutor", new { Area = "Database" })');">
                    <i class="icon-arrow-left"></i>
                    @HttpContext.GetLocalResourceObject(strings, "Cancel")
                </button>
                <button class="default" type="submit">
                    <i class="icon-save"></i>
                    @HttpContext.GetLocalResourceObject(strings, "Save")
                </button>

            </p>
        </fieldset>
    }

</div>


@section breadcrumb {

}

@section ScriptS{
    @Scripts.Render("~/bundles/jqueryval")
}


@section title{
    @ViewBag.Title
}

@section description{
    @ViewBag.Desc
}

@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
}

@section specificPluginScript {
    <script src="~/Content/acetheme/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
}