@*Generic side bar in ace theme*@
@using PapiroMVC.Validation
@using PapiroMVC.Models

@{
    string strings = "~/Views/Shared/Strings";


    
    //Load menu product
    Html.Action("LoadMenuProduct", "Product", new { area = "Working" });
    List<MenuProduct> menuProd = ViewBag.MenuProd;    
    var categories = menuProd!=null?menuProd.Select(x => new MyStruct { CodCategory = x.CodCategory, IndexOfCategory = x.IndexOfCategory.ToString() }).Distinct().OrderBy(y => y.IndexOfCategory).ToList():null;

    List<MenuProduct> selectedMenuProd;
    
}

<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <ul class="nav nav-list">

        <li id="homeSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "AppName"), "Index", "Home", new { area = "" }, "fa fa-fw fa-lg fa-home", "menu-text")
        </li>

        <li id="estimatesSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "CreateEstimateMenu"), "Index", "Document", new { area = "Working" }, "fa fa-fw fa-lg fa-eur", "menu-text")
        </li>

        <li id="estimatesSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "EstimateMenu"), "ListEstimate", "Document", new { area = "Working" }, "fa fa-fw fa-lg fa-tasks", "menu-text")
        </li>

        <li id="DocumentProductSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "DocumentProductMenu"), "ListDocumentProducts", "Document", new { area = "Working" }, "fa fa-fw fa-lg fa-files-o", "menu-text")
        </li>
        
   @*     @Html.Action("MenuNewEstimate", "Document", new { area = "Working" })*@
        

            @* @Html.Action("MenuNewProduct", "Document", new { area = "Working" })*@

</ul>
    <!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>
