            <footer>
            <div class="content-wrapper">
                <div class="inline-block twenty-five-perc">
                    <ul class="menuFooter">
                        <li><h3>Questo è un footer dell'area ACCOUNT</h3></li>
                        <li>@Html.ActionLink("Elenco", "Index", "CustomerSupplier")</li>
                        <li>@Html.ActionLink("Nuovo Cliente", "CreateCustomer", "CustomerSupplier")</li>
                        <li>@Html.ActionLink("Nuovo Cliente", "CreateSupplier", "CustomerSupplier")</li>
                    
                        <li><h3>Materiali</h3></li> 
                        <li>@Html.ActionLink("Elenco", "Index", "Article")</li>
                        <li>@Html.ActionLink("Nuovo Foglio", "CreateSheetPrintableArticle", "Article")</li>
                        <li>@Html.ActionLink("Nuovo Rotolo", "CreateRollPribaleArticle", "Article")</li>                    
                    </ul>    
                </div>
                <div class="inline-block twenty-five-perc">
                
                        <ul class="menuFooter">
                        <li><h3>Macchine da stampa</h3></li>
                        <li>@Html.ActionLink("Elenco", "Index", "CustomerSupplier")</li>
                        <li>@Html.ActionLink("Nuova Offset Foglio", "CreateCustomer", "CustomerSupplier")</li>
                        <li>@Html.ActionLink("Nuovo Offset Roto", "CreateSupplier", "CustomerSupplier")</li>
                    
                        <li><h3>Lavorazioni Successive</h3></li> 
                        <li>@Html.ActionLink("Elenco", "Index", "CustomerSupplier")</li>
                        <li>@Html.ActionLink("Nuova Prestampa", "CreateSheetPribaleArticle", "Article")</li>
                        <li>@Html.ActionLink("Nuova Legatoria", "CreateRollPribaleArticle", "Article")</li>                    
                    </ul>    
                </div>
                
                <div class="inline-block twenty-five-perc">
                    <ul class="menuFooter">
                       <li> <h3>Menu terza colonna </h3></li>                     
                    </ul>
                </div><div class="inline-block twenty-five-perc">
                    <ul class="menuFooter">
                       <li> <h3>Menu quarta colonna </h3></li>                     
                    </ul>                
                </div>            
            
                </div>
           </footer>
