@using PapiroMVC.Validation
@model PapiroMVC.Models.ChangePasswordModel
@{
    string strings = "~/Areas/Account/Views/Account/Strings";


    var err = ViewData.ModelState.FirstOrDefault(x => x.Key == "PersError");
    if (err.Key != null)
    {
        ViewData.ModelState.AddModelError(string.Empty, Html.T(strings, err.Value.Errors[0].ErrorMessage));
    }   
}
<div id="status"> @Scripts.Render("~/bundles/jqueryval")

<p class="message-info">
    @Html.T(strings,"ChangePassword")     @Membership.MinRequiredPasswordLength     @Html.T(strings,"ChangePassword1")
</p>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "status", OnBegin = "ShowProcessingMsg", OnComplete = "HideProcessingMsg", OnSuccess="OnSuccess" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Change Password Form</legend>        
                @Html.AlgolaEditorFor(m => m.OldPassword)
                @Html.AlgolaEditorFor(m => m.NewPassword)                
                @Html.AlgolaEditorFor(m => m.ConfirmPassword)  
        <br />              
        <input type="submit" value ="@Html.T(strings,"ChangePasswordTitle")" />
    </fieldset>
}</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
