@using PapiroMVC.Validation
@model PapiroMVC.Models.ProfileViewModel
@{
    string strings = "~/Areas/Account/Views/Account/Strings";
    string strings2 = "~/Views/Shared/Strings";

    var err = ViewData.ModelState.FirstOrDefault(x => x.Key == "PersError");
    if (err.Key != null)
    {
        ViewData.ModelState.AddModelError(string.Empty, Html.T(strings, err.Value.Errors[0].ErrorMessage));
    }   
}
<div id="status"> @Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "status", OnBegin = "showProcessingMsg", OnComplete = "hideProcessingMsg", OnSuccess="OnSuccess" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Change Password Form</legend>        
                
            @Html.HiddenFor(m=>m.Profile.Name)

            @Html.AlgolaEditorFor(m => m.Profile.CompanyName)
            @Html.AlgolaEditorFor(m => m.Profile.Base)
            @Html.AlgolaEditorFor(m => m.Profile.Culture)
            @Html.AlgolaEditorFor(m => m.Profile.Refeere)
            @Html.AlgolaEditorFor(m => m.Profile.Phone)
            @Html.AlgolaEditorFor(m => m.Profile.VatNumber)
            @Html.AlgolaEditorFor(m => m.Profile.TaxCode)
        <br />              
        @{
            
    for (int i = 0; i < Model.MenuProducts.Count; i++)
    {
        @Html.T(strings2,"CodMenuProduct" + Model.MenuProducts[i].CodMenuProduct)
        @Html.AlgolaEditorFor(m => m.MenuProducts[i].Hidden)

    }
        }


        <input type="submit" value ="@Html.T(strings,"Save")" />
    </fieldset>
}</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
