@using PapiroMVC.Validation
@model PapiroMVC.Models.ProfileViewModel
@{
    string strings = "~/Areas/Account/Views/Account/Strings";
    //    string strings2 = "~/Views/Shared/Strings";

    var err = ViewData.ModelState.FirstOrDefault(x => x.Key == "PersError");
    if (err.Key != null)
    {
        ViewData.ModelState.AddModelError(string.Empty, Html.T(strings, err.Value.Errors[0].ErrorMessage));
    }
}

<div id="status">
    @Scripts.Render("~/bundles/autocomplete")
    @using (Ajax.BeginForm("Action", "Account", new AjaxOptions { UpdateTargetId = "status", OnBegin = "showProcessingMsg", OnComplete = "hideProcessingMsg", OnSuccess = "OnSuccess" }, new { @class = "form-horizontal", Area = "Account" }))
    {

        @*Html.AntiForgeryToken();*@
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Profile.Name)

        @Html.AlgolaEditorFor(m => m.Profile.CompanyName)
        @Html.AlgolaEditorFor(m => m.Profile.VatNumber)
        @Html.AlgolaEditorFor(m => m.Profile.TaxCode)
        @Html.AlgolaEditorFor(m => m.Profile.Base)
        @Html.HiddenFor(m => m.Profile.Culture)
        @Html.HiddenFor(m => m.Profile.Refeere)
        @Html.AlgolaEditorFor(m => m.Profile.Phone)
        @Html.HiddenFor(m => m.Profile.BrainTreeToken)


        <p>

            <button class="btn btn-warning" type="button" onclick="Javascript:window.location.replace('@Url.Action("Index", "CustomerSupplier", new { Area = "Database" })');">
                <i class="icon-arrow-left"></i>
                @HttpContext.GetLocalResourceObject(strings, "Cancel")
            </button>

            <button class="default btn btn-primary" type="submit" name="@ViewBag.ActionMethod">
                <i class="icon-save"></i>
                @HttpContext.GetLocalResourceObject(strings, "Save")
            </button>

        </p>

    }
</div>
@*
    <script src="https://js.braintreegateway.com/v1/braintree.js"></script>
    <script>

        var ajax_submit = function (e) {

            alert("erroe");

            form = $('#braintree-payment-form');
            e.preventDefault();

            $("#submit").attr("disabled", "disabled");
            $.post(form.attr('action'),
                form.serialize(),
                function (data) {
                    OnSuccess(data);
                });
        }

        var braintree = Braintree.create("MIIBCgKCAQEAzXjSG4ufnkVJSyNKRZlM8yY4GDQDGq4UVOVPdsMQb4Rp8idazki3AbyhKxft0s9jT77xVztia0ry2sPBP4vSBu5qjGPIEgZnNnJVhQ9JNySkJvs3vThIMfy108vmX2kVv1xGUIoSKNp0R/+B/CZLgVyGvHL8qvxwx8ztXWI2Yqn2PALOffMnUCs11aFkEuMGzcGTAkHJuW6GV0vWEe6oPZ9O/SbVZ2zpNPj1Hwwh50Dmr6+bLsJ3u4AMGr9y97O3gj5Ra2Y2q83uB8biNG15zycF6/XhkM6N56HD9sCsoLZp74HYTB9SSMe62A4cBnx7dcK9aVLOU9icxgYMauGwuQIDAQAB");
        braintree.onSubmitEncryptForm('braintree-payment-form', ajax_submit);
    </script>
*@
