@using PapiroMVC.Validation
@model PapiroMVC.Models.LoginModel

@{
    string strings = "~/Areas/Account/Views/Account/Strings";

    var err = ViewData.ModelState.FirstOrDefault(x => x.Key == "PersError");
    if (err.Key != null)
    {
        ViewData.ModelState.AddModelError(string.Empty, Html.T(strings, err.Value.Errors[0].ErrorMessage));
    }

    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "LoginTitle");
    
}

<div id="status">

    @Scripts.Render("~/bundles/autocomplete")

    @using (Ajax.BeginForm("Login", "Account", new {area = "Account"}, new AjaxOptions
{
    UpdateTargetId = "status",
    OnBegin = "showProcessingMsg",
    OnComplete = "hideProcessingMsg",
    OnSuccess = "OnSuccess"
}, new { @class = "form-horizontal" }))
    {


        @Html.ValidationSummary(true)

        @Html.AlgolaEditorFor(m => m.UserName)
        @Html.AlgolaEditorFor(m => m.Password)
        @Html.EditorFor(m => m.RememberMe)
    
        <br />
        <p>

            @Html.ActionLinkButton(Html.T(strings, "Cancel"), "Index", "Home", null, "icon-remove bigger-125", "btn btn-warning")

            <button class="btn btn-primary" type="submit">
                <i class="icon-key bigger-125"></i>
                @Html.T(strings, "LoginButton")
            </button>


        </p>        
        <p>
            @Html.ActionLink(Html.T(strings, "RecoveryPasswordLink"), "RecoveryPassword", null, null) @Html.T(strings, "RecoveryPasswordAfterLink")
        </p>
        <p>
            @Html.ActionLink(Html.T(strings, "RegisterLink"), "Register") @Html.T(strings, "RegisterMessageAfterLink")
        </p>
        
    }


</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}