@using PapiroMVC.Validation
@model PapiroMVC.Models.RecoveryPasswordModel
@{
    string strings = "~/Areas/Account/Views/Account/Strings";


    var err = ViewData.ModelState.FirstOrDefault(x => x.Key == "PersError");
    if (err.Key != null)
    {
        ViewData.ModelState.AddModelError(string.Empty, Html.T(strings, err.Value.Errors[0].ErrorMessage));
    }   
}
<div id="status"> @Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "status", OnBegin = "showProcessingMsg", OnComplete = "hideProcessingMsg", OnSuccess="OnSuccess" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Recovery Password Form</legend>        
                @Html.AlgolaEditorFor(m => m.Email)
        <br />              
        <input type="submit" value ="@Html.T(strings,"RecoveryPasswordTitle")" />
    </fieldset>
}</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
