@using PapiroMVC.Validation
@{
    string strings = "~/Areas/Account/Views/Account/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "TitleConfirmation");               
}

@Html.Action("MetaGenerator", new
{
    area = "",
    page = @Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))
})

@section title{
    @Html.T(strings, "ConfirmEditProfileTitle")
}

@section description{
    @Html.T(strings, "EditProfileTitle")
}

<div class="span12">

    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">
            <i class="icon-remove"></i>
        </button>

        <strong>
            <i class="icon-remove"></i>
            @Html.T(strings, "Pending1")
        </strong>

        @Html.T(strings, "Pending2")
        <br>
    </div>

    <div class="space-10"></div>
    @Html.T(strings, "Pending3")

    <div class="space-10"></div>


    @using (Html.BeginForm("Pending", "Home", FormMethod.Post, new { @class = "form-horizontal", @id = "braintree-payment-form" }))
    {
        <p>
            <label>@Html.T(strings,"CardNumber")</label>
            <input type="text" size="20" autocomplete="off" data-encrypted-name="number" />
        </p>
        <p>
            <label>@Html.T(strings, "CVV")</label>
            <input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" />
        </p>
        <p>
            <label>@Html.T(strings, "Expiration")</label>
            <input type="text" size="2" data-encrypted-name="month" />
            /
                            <input type="text" size="4" data-encrypted-name="year" />
        </p>


        <div class="space-10"></div>
        @Html.T(strings, "Pending4")

        <div class="space-10"></div>
        <p>

            @Html.ActionLinkButton(Html.T(strings, "Cancel"), "Index", "Home", new { area = "" }, "fa fa-fw fa-lg fa-arrow-left bigger-125", "btn btn-warning")

            <button class="btn btn-primary" type="submit">
                <i class="icon-save bigger-125"></i>
                @Html.T(strings, "Save")
            </button>

        </p>
    }


</div>


@section specificPluginScript {
}

<script src="https://js.braintreegateway.com/v1/braintree.js"></script>

<script>
    var braintree = Braintree.create("MIIBCgKCAQEAzXjSG4ufnkVJSyNKRZlM8yY4GDQDGq4UVOVPdsMQb4Rp8idazki3AbyhKxft0s9jT77xVztia0ry2sPBP4vSBu5qjGPIEgZnNnJVhQ9JNySkJvs3vThIMfy108vmX2kVv1xGUIoSKNp0R/+B/CZLgVyGvHL8qvxwx8ztXWI2Yqn2PALOffMnUCs11aFkEuMGzcGTAkHJuW6GV0vWEe6oPZ9O/SbVZ2zpNPj1Hwwh50Dmr6+bLsJ3u4AMGr9y97O3gj5Ra2Y2q83uB8biNG15zycF6/XhkM6N56HD9sCsoLZp74HYTB9SSMe62A4cBnx7dcK9aVLOU9icxgYMauGwuQIDAQAB");
    braintree.onSubmitEncryptForm('braintree-payment-form');
</script>
