@using PapiroMVC.Validation
@model PapiroMVC.Models.ProductPartSheetArticle

@{
    string stringsGrid = "~/Areas/Working/Views/Product/ArticleStrings";
    string url = Url.Action("SheetPrintableArticleListPerProduct", new { controller = "Article", area = "DataBase"});

    var suffx = "Part" + (ViewBag.IndexPart) + "PartArticle" + (ViewBag.IndexPartArticle);
}

<div class="controls col-sm-9">
    <a href="javascript:void(0)" id="staticDialog@(suffx)">@Html.T(stringsGrid, "DialogTitle")</a>
</div>

@Html.HiddenFor(model => model.IsSelected)
@Html.HiddenFor(model => model.TimeStampTable)
@Html.HiddenFor(model => model.CodProductPartPrintableArticle)
@Html.HiddenFor(model => model.CodProductPart)
@Html.HiddenFor(model => model.ProductPartPrintableArticleName)
@Html.AlgolaEditorFor(model => model.TypeOfMaterial)
@Html.AlgolaEditorFor(model => model.NameOfMaterial)
@Html.AlgolaEditorFor(model => model.Color)
@Html.AlgolaEditorFor(model => model.Weight)

@Html.HiddenFor(model => model.TypeOfProductPartsPrintableArticle)

<div id="dialog-message@(suffx)" class="hide">

    <table id="gridArticle@(suffx)">
        <tr>
            <td />
        </tr>
    </table>
    <div id="pagerArticle@(suffx)"></div>

</div>

<script type="text/javascript">

    var lastSel@(suffx) = -1;
    var myGrid@(suffx) = null;


    $(document).ready(
        function () {
            loadGrid@(suffx)();
        });

    function loadGrid@(suffx)() {

        myGrid@(suffx) = $("#gridArticle@(suffx)").jqGrid({
            url: '@url',
            datatype: 'json',
            colModel: [
                    { name: 'TypeOfMaterial', label: '@HttpContext.GetLocalResourceObject(stringsGrid, "TypeOfMaterialCaption")', width: 80, align: 'left', editable: false, hidden: false },
                    { name: 'NameOfMaterial', label: '@HttpContext.GetLocalResourceObject(stringsGrid, "NameOfMaterialCaption")', width: 80, align: 'left', editable: false, hidden: false },
                    { name: 'Color', label: '@HttpContext.GetLocalResourceObject(stringsGrid, "ColorCaption")', width: 80, align: 'left', editable: false, hidden: false },
                    { name: 'Weight', label: '@HttpContext.GetLocalResourceObject(stringsGrid, "WeightCaption")', width: 80, align: 'left', editable: false, hidden: false }
            ],

            pager: '#pagerArticle@(suffx)',

            rowNum: 15,
            rowList: [15, 20, 50],
            viewrecords: true,
            autowidth: false,

            onSelectRow: function (id) {
                if (id && id !== lastSel@(suffx)) {
                    myGrid@(suffx).jqGrid('restoreRow', lastSel@(suffx));
                    lastSel@(suffx) = id;
                }
            },

            ondblClickRow: function (id, ri, ci) {
                myGrid@(suffx).jqGrid('editRow', id, {
                    keys: true,
                    oneditfunc: function () {
                        //...
                    },
                    aftersavefunc: function () {
                        $("#gridArticle@(suffx)").trigger("reloadGrid");
                    },
                    url: 'editUrl'
                });
                //editRow(rowid, keys, oneditfunc, successfunc, url, extraparam, aftersavefunc, errorfunc, afterrestorefunc);
                return;
            }

        });

        myGrid@(suffx).jqGrid('navGrid', '#pagerArticle@(suffx)', { edit: false, add: false, del: false, search: false });
        myGrid@(suffx).jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });

    }

    function reloadArticle@(suffx)() {
        $("#gridArticle@(suffx)").trigger("reloadGrid");
    }

    $("#staticDialog@(suffx)").on('click', function (e) {
        e.preventDefault();

        loadGrid@(suffx)();

        var dialog = $("#dialog-message@(suffx)").dialog({
            width: 'auto',
            modal: true,
            title: '@Html.T(stringsGrid, "DialogSubTitle")',
            title_html: true,
            buttons: [
                {
                    text: '@Html.T(stringsGrid, "Cancel")',
                    "class": "btn btn-mini",
                    click: function () {

                        reloadArticle@(suffx)();
                        $(this).dialog("close");
                    }
                },
                {
                    text: '@Html.T(stringsGrid, "Ok")',
                    "class": "btn btn-primary btn-mini",
                    click: function () {

                        if (lastSel@(suffx) != -1) {
                            var myGrid = $('#gridArticle@(suffx)'),
                                selRowId = myGrid.jqGrid('getGridParam', 'selrow'),
                                celValueTypeOfMaterial = myGrid.jqGrid('getCell', lastSel@(suffx), 'TypeOfMaterial');

                                $('#Product_ProductPartsPerView_@(ViewBag.IndexPart)__ProductPartsPrintableArticlePerView_@(ViewBag.IndexPartArticle)__TypeOfMaterial').val(celValueTypeOfMaterial);

                            var myGrid = $('#gridArticle@(suffx)'),
                                selRowId = myGrid.jqGrid('getGridParam', 'selrow'),
                                celValueNameOfMaterial = myGrid.jqGrid('getCell', lastSel@(suffx), 'NameOfMaterial');

                                $('#Product_ProductPartsPerView_@(ViewBag.IndexPart)__ProductPartsPrintableArticlePerView_@(ViewBag.IndexPartArticle)__NameOfMaterial').val(celValueNameOfMaterial);

                            var myGrid = $('#gridArticle@(suffx)'),
                                selRowId = myGrid.jqGrid('getGridParam', 'selrow'),
                                celValueColor = myGrid.jqGrid('getCell', lastSel@(suffx), 'Color');

                                $('#Product_ProductPartsPerView_@(ViewBag.IndexPart)__ProductPartsPrintableArticlePerView_@(ViewBag.IndexPartArticle)__Color').val(celValueColor);

                            var myGrid = $('#gridArticle@(suffx)'),
                                selRowId = myGrid.jqGrid('getGridParam', 'selrow'),
                                celValueWeight = myGrid.jqGrid('getCell', lastSel@(suffx), 'Weight');

                                $('#Product_ProductPartsPerView_@(ViewBag.IndexPart)__ProductPartsPrintableArticlePerView_@(ViewBag.IndexPartArticle)__Weight').val(celValueWeight);

                        }
                        reloadArticle@(suffx)();

                        $(this).dialog("close");
                    }
                }
            ]
        });

        /**
        dialog.data( "uiDialog" )._title = function(title) {
            title.html( this.options.title );
        };
        **/
    });

</script>

<script src="~/Content/acetheme/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/Content/acetheme/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
