@using PapiroMVC.Validation

@{
    string strings = "~/Views/Shared/Strings";
}

<div class="nav-bar">
<div class="nav-bar-inner padding7">
    <span class="pull-menu"></span>

    <a href="/"><span class="element brand">
        <img class="place-left" src="@Url.Content("~/Images/logo2.png")" style="height: 42px"/>
        Papiro <small>0.01-beta</small>
    </span></a>

    <span class="divider"></span>

    <ul class="menu" style="overflow: visible;">
        <li data-role="dropdown" class="">
            <a>@Html.T(strings,"DataBaseMenu")</a>
            <ul class="dropdown-menu" style="display: none;">
                <li>
                    @Html.ActionLink(@Html.T(strings,"SheetPrintableArticleMenu"),"IndexSheetPrintableArticle","Article", new { area = "DataBase" },null)
                </li>
                <li>
                    @Html.ActionLink(@Html.T(strings,"RollPrintableArticleMenu"),"IndexRollPrintableArticle","Article", new { area = "DataBase" },null)
                </li>
                    <li class="divider"></li>
                <li><a href="#">SubItem 4</a></li>
            </ul>
        </li>

        <li data-role="dropdown" class="">
            <a>@Html.T(strings,"TaskExecutorMenu")</a>
            <ul class="dropdown-menu" style="display: none;">
                <li>
                    @Html.ActionLink(@Html.T(strings,"DigitalSheetMenu"),"IndexDigitalSheet","TaskExecutor", new { area = "DataBase" },null)
                </li>
                <li>
                    @Html.ActionLink(@Html.T(strings,"LithoSheetMenu"),"IndexLithoSheet","TaskExecutor", new { area = "DataBase" },null)
                </li>
                <li class="divider"></li>
                <li><a href="#">SubItem 4</a></li>
            </ul>
        </li>

        <li>
            <a>@Html.ActionLink(@Html.T(strings,"CustomerSupplierMenu"),"Index","CustomerSupplier", new { area = "DataBase" },null)</a>
        </li>

        <li data-role="dropdown" class="">
            <a>@Html.T(strings,"CultureMenu")</a>
            <ul class="dropdown-menu" style="display: none;">
                <li>
                    @Html.ActionLink(@Html.T(strings,"EnglishMenu"),"ChangeCulture","Home",new { area = "", id = "it-IT" },null)
                </li>
                <li>
                    @Html.ActionLink(@Html.T(strings,"EnglishMenu"),"ChangeCulture","Home", new { area = "", id = "en-US" },null)
                </li>
                <li class="divider"></li>
                <li><a href="#">SubItem 4</a></li>
            </ul>
        </li>

        <li>
            @Html.ActionLink(@Html.T(strings,"UpdateDbMenu"),"UpdateDb","Home", new { area = ""},null)
        </li>
        
                @if (Request.IsAuthenticated) 
                {   
                <li data-role="dropdown" class="">
                    <a><strong>@User.Identity.Name</strong></a>
                    <ul class="dropdown-menu" style="display: none;">
                        <li>
                            @Html.ActionLink(@Html.T(strings,"ChangePasswordMenu"), "ChangePassword", "Account", routeValues: new { area = "Account" }, htmlAttributes: new { @class = "username", title = "Change password" })
                        </li>
                        <li>
                            @Html.ActionLink(@Html.T(strings,"EditProfileMenu"), "EditProfile", "Account", new { area = "Account" },null)
                        </li>
                        <li>
                            @Html.ActionLink(@Html.T(strings,"LogOffMenu"), "LogOff", "Account", routeValues: new { area = "Account" }, htmlAttributes:null)    
                        </li>
                    </ul>
                </li>
                } 
                else 
                {    
                    <li>                    
                        <strong>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "Account"}, htmlAttributes: new { id = "loginLink" })</strong>
                    </li>                
                }
    </ul>
</div>
</div>