@*Generic side bar in ace theme*@
@using PapiroMVC.Validation

@{
    string strings = "~/Views/Shared/Strings";
}

<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <ul class="nav nav-list">

        <li id="homeSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "AppName"), "Index", "Home", new { area = "" }, "fa fa-fw fa-lg fa-home", "menu-text")
        </li>

        <li id="databaseSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "DataBaseMenu"), "Index", "HomeDb", new { area = "DataBase" }, "fa fa-fw fa-lg fa-stack-overflow", "menu-text")
        </li>

        @if (Request.IsAuthenticated)
        {      

            <li id="documentSlidebar">
                @Html.ActionLinkImageSpan(Html.T(strings, "DocumentMenu"), "Index", "Document", new { area = "Working" }, "fa fa-fw fa-lg fa-pencil-square-o", "menu-text")
            </li>

        }


        <li id="aboutSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "About"), "About", "Home", new { area = "" }, "fa fa-fw fa-lg fa-info", "menu-text")
        </li>

        <li id="advSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "Adv"), "Adv", "Home", new { area = "" }, "fa fa-fw fa-lg fa-lightbulb-o", "menu-text")
        </li>

        <li id="ecommerceSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "ECommerce"), "ECommerce", "Home", new { area = "" }, "fa fa-fw fa-lg fa-shopping-cart", "menu-text")
        </li>


    </ul>
    <!-- /.nav-list -->





    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>

