@*Generic side bar in ace theme*@
@using PapiroMVC.Validation

@{
    string strings = "~/Views/Shared/Strings";
}


<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>


    <ul class="nav nav-list">

        <li id="homeSidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "AppName"), "Index", "Home", new { area = "" }, "fa fa-fw fa-lg fa-home", "menu-text")
        </li>

        <li id="databaseSlidebar">
            @Html.ActionLinkImageSpan(Html.T(strings, "DataBaseMenu"), "Index", "HomeDb", new { area = "DataBase" }, "fa fa-fw fa-lg fa-stack-overflow", "menu-text")
        </li>

        @if (Request.IsAuthenticated)
        {
            <li id="documentSlidebar">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-fw fa-lg fa-pencil-square-o"></i>
                    <span class="menu-text">@Html.T(strings, "DocumentMenu") </span>

                    <b class="arrow icon-angle-down"></b>
                </a>

                <ul class="submenu">
                    <li id="sheetSlidebar">
                        @Html.ActionLinkImage(Html.T(strings, "CreateEstimateMenu"), "Index", "Document", new { area = "Working" }, "fa fa-fw fa-lg fa-eur")
                    </li>

                    <li id="rollSlidebar">
                        @Html.ActionLinkImage(Html.T(strings, "EstimateMenu"), "ListEstimate", "Document", new { area = "Working" }, "fa fa-fw fa-lg fa-tasks")
                    </li>

                    <li id="rollSlidebar">
                        @Html.ActionLinkImage(Html.T(strings, "DocumentProductMenu"), "ListDocumentProducts", "Document", new { area = "Working" }, "fa fa-fw fa-lg fa-copy")
                    </li>

                    <li id="rollSlidebar">
                        @Html.ActionLinkImage(Html.T(strings, "OrderMenu"), "ListOrder", "Document", new { area = "Working" }, "fa fa-fw fa-lg fa-cube")
                    </li>
                </ul>
            </li>

        }

        @if (Request.IsAuthenticated)
        {
            <li id="warehouseSlidebar">
                @Html.ActionLinkImageSpan(Html.T(strings, "WarehouseMenu"), "Index", "Warehouse", new { area = "Warehouse" }, "fa fa-fw fa-lg fa-stack-overflow", "menu-text")
            </li>
        }

        @if (Request.IsAuthenticated)
        {

            <li id="planningSlideBar">
                @Html.ActionLinkImageSpan(Html.T(strings, "PlanningMenu"), "Planning", "Document", new { area = "Working", isView = false }, "fa fa-fw fa-lg fa-sort-amount-desc", "menu-text")
            </li>

        }

        <li id="aboutSlidebar">
            <a href="http://www.gestionestampa.com"><i class="fa fa-fw fa-lg fa-lightbulb-o"></i> <span class="menu-text">@Html.T(strings, "About")</span></a>
        </li>



    </ul>
    <!-- /.nav-list -->


    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>

</div>

