@using PapiroMVC.Validation
@model PapiroMVC.Models.RollPrintableArticleViewModel

@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
}

@using (Html.BeginForm("Action", "Article"))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RollPrintableArticleViewModel</legend>

        @Html.HiddenFor(model => model.Article.TimeStampTable)
        
        @Html.HiddenFor(model => model.Article.CodArticle)
        @Html.HiddenFor(model => model.Article.ArticleName)

        @Html.AlgolaAutocompleteFor(model =>  model.Article.TypeOfMaterial,"TypeOfMaterialAutoComplete","Article")
        @Html.AlgolaAutocompleteFor(model =>  model.Article.NameOfMaterial,"NameOfMaterialAutoComplete","Article")

        @Html.AlgolaAutocompleteFor(model =>  model.Article.Color,"ColorComplete","Article")
        @Html.AlgolaAutocompleteFor(model =>  model.Article.Weight,"WeightAutoComplete","Article")
        
        @Html.AlgolaAutocompleteFor(model =>  model.Article.Width,"WidthAutoComplete","Article")
        @Html.AlgolaAutocompleteFor(model =>  model.Article.MqForafait,"MqForafaitAutoComplete","Article")

        @Html.AlgolaAutocompleteFor(model =>  model.Article.Hand,"HandAutoComplete","Article")

        @Html.AlgolaAutocompleteFor(model => model.SupplierMaker,"SupplierBusinessNameAutoComplete","CustomerSupplier")
        @Html.AlgolaAutocompleteFor(model => model.SupplyerBuy,"SupplierBusinessNameAutoComplete","CustomerSupplier")

        @Html.AlgolaAutocompleteFor(model =>  model.Article.UnitOfMeasure,"UnitOfMeasuerAutoComplete","Article")

    </fieldset>

    <div id='_RollPrintableArticleStandardCost'>
        @Html.Partial("_RollPrintableArticleStandardCost", Model)
    </div>

    <p>
        <!-- ViewBag.ActionMethod is used to understand where we are coming and so where we have to go -->
        <input type="submit" name='@ViewBag.ActionMethod' value='@HttpContext.GetLocalResourceObject(strings, "Save")' />
        
        @if (ViewBag.ActionMethod != "CreateRollPrintableArticle")               
        {
            <input type="submit" name="CreateRollPrintableArticle"  value='@HttpContext.GetLocalResourceObject(strings, "SaveNewBasedOn")' />
        }
    </p>

    
}

<div>
    @Html.ActionLink((string)HttpContext.GetLocalResourceObject(strings, "Cancel"), "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}