@using PapiroMVC.Validation
@model PapiroMVC.Models.SheetPrintableArticleViewModel

@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "CreateSheetPrintableArticle");
}

<div id="status">
    @Scripts.Render("~/bundles/autocomplete")

    @using (Ajax.BeginForm("Action", "Article", new AjaxOptions
{
    UpdateTargetId = "status",
    OnBegin = "showProcessingMsg",
    OnComplete = "hideProcessingMsg",
    OnSuccess = "OnSuccess"
}, new { @class = "form-horizontal" }))
    {
  
        @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.Article.TimeStampTable)
        
        @Html.HiddenFor(model => model.Article.CodArticle)
        @Html.HiddenFor(model => model.Article.ArticleName)

        @Html.AlgolaAutocompleteFor(model => model.Article.TypeOfMaterial, "TypeOfMaterialAutoComplete", "Article")
        @Html.AlgolaAutocompleteFor(model => model.Article.NameOfMaterial, "NameOfMaterialAutoComplete", "Article")

        @Html.AlgolaAutocompleteFor(model => model.Article.Color, "ColorComplete", "Article")
        @Html.AlgolaAutocompleteFor(model => model.Article.Weight, "WeightAutoComplete", "Article")
        
        @Html.AlgolaAutocompleteFor(model => model.Article.Format, "FormatAutoComplete", "Article")

        @Html.AlgolaAutocompleteFor(model => model.Article.Hand, "HandAutoComplete", "Article")
        @Html.AlgolaAutocompleteFor(model => model.Article.SheetPerPacked, "SheetPerPackedAutoComplete", "Article")
        @Html.AlgolaAutocompleteFor(model => model.Article.SheetPerPallet, "SheetPerPackedAutoComplete", "Article")


        @Html.AlgolaAutocompleteFor(model => model.SupplierMaker, "SupplierBusinessNameAutoComplete", "CustomerSupplier")
        @Html.AlgolaAutocompleteFor(model => model.SupplyerBuy, "SupplierBusinessNameAutoComplete", "CustomerSupplier")

        @Html.AlgolaAutocompleteFor(model => model.Article.UnitOfMeasure, "UnitOfMeasuerAutoComplete", "Article")
               
       
        <div id='_SheetPrintableArticlePakedCost'>
            @Html.Partial("_SheetPrintableArticlePakedCost", Model)
        </div>

        <div id='_SheetPrintableArticlePalletCost'>
            @Html.Partial("_SheetPrintableArticlePalletCost", Model)
        </div>

        <!--
    <div id='_SheetPrintableArticleCuttedCost'>
        Html.Partial("_SheetPrintableArticleCuttedCost", Model)
    </div>
        --> 
        <br />      
        <p>

            <button class="btn btn-warning" type="button" onclick="Javascript:window.location.replace('@Url.Action("IndexSheetPrintableArticle", "Article", new { Area = "Database" })');">
                <i class="icon-arrow-left"></i>
                @HttpContext.GetLocalResourceObject(strings, "Cancel")
            </button>

            <button class="default btn btn-primary" type="submit" name="@ViewBag.ActionMethod">
                <i class="icon-save"></i>
                @HttpContext.GetLocalResourceObject(strings, "Save")
            </button>

            @if (ViewBag.ActionMethod != "CreateSheetPrintableArticle")
            {
                <input class="btn" type="submit" name="CreateSheetPrintableArticle"  value='@HttpContext.GetLocalResourceObject(strings, "SaveNewBasedOn")' />
            }
        </p>
    }

</div>
