@model PapiroMVC.Models.SheetPrintableArticleAutoChanges
@using Mvc.HtmlHelpers
@using MvcContrib.UI.Grid 

@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "TitleIndex");
    }

<h2>@ViewBag.Title</h2>
<br />

@(Html.jqGrid("ArticleGrid")

    .setCaption("Articoli a foglio")

    // columns
    .addColumn(new Column("Id")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "OperationsCaption"))
        .setWidth(40)
        .setCustomFormatter("editArticle")
        .setSortable(false))
    .addColumn(new Column("CodArticle")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "CodArticleCaption"))
        .setWidth(80)
        .setSortable(true))

    .addColumn(new Column("TypeOfMaterial")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "TypeOfMaterialCaption"))
        .setWidth(100)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("NameOfMaterial")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "NameOfMaterialCaption"))
        .setWidth(100)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("Color")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "ColorCaption"))
        .setWidth(100)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("Weight")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "WeightCaption"))
        .setWidth(50)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("Format")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "FormatCaption"))
        .setWidth(50)
        .setSortable(true)
        .setSearch(true))
            
    .addColumn(new Column("SupplierName")
        .setLabel((string)HttpContext.GetLocalResourceObject(strings, "SupplierNameCaption"))
        .setSearch(true)
        .setWidth(200))

        
                        
    .setUrl(Url.Action("SheetPrintableArticleList", "Article"))

    .setHeight(300)
    .setRowNum(20)
    .setRowList(new int[] { 10, 20, 50, 100 })
    .setPager("CustomGridAccountPager")
    .setPrint(true)
    .setLoadText("")
    .setAutoWidth(true)
    .setSearchToolbar(true)
    .setViewRecords(true)
   
    // error handler
    .onLoadError((string)HttpContext.GetLocalResourceObject(strings, "ErrorLoading"))

    // render the html
    .Render()
)

@Html.ActionLink((string)HttpContext.GetLocalResourceObject(strings, "CreateSheetPrintableArticle"), "CreateSheetPrintableArticle")
@Html.ActionLink((string)HttpContext.GetLocalResourceObject(strings, "WizardSheetPrintableArticle"), "WizardSheetPrintableArticle")

<a href="#" id="a1">Get data from selected row</a>
<a href="#" id="s1"></a>

<script type="text/javascript">
    function editArticle(cellvalue, options, rowobject) {
        var link = '@Html.ActionLink((string)HttpContext.GetLocalResourceObject(strings, "Edit"), "Edit", new {id= "-1"})';

        return link.replace("-1", cellvalue);
    }

    /*

    javascript molto utile per associare un'azione alla riga selezionata

    //click function on jqGrid selectedRow
    jQuery("#a1").click(function () {
        var id = jQuery("#CustomGrid").jqGrid('getGridParam', 'selrow');
        if (id) {
            var ret = jQuery("#CustomGrid").jqGrid('getRowData', id);
            alert("id=" + ret.CodArticle + " invdate=" + ret.BusinessName + "...");
        } else { alert("Please select row"); }
    });

    */
</script>
