@using PapiroMVC.Validation
@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "TitleIndex");

}

<script type="text/javascript">
    function editArticle(cellvalue, options, rowobject) {
        // var link = '@Html.ActionLink((string)HttpContext.GetLocalResourceObject(strings, "Edit"), "Edit", new {id= "-1"},new {@class="tbutton smalledit"})';
        var link = '@Html.ActionLinkImage((string)HttpContext.GetLocalResourceObject(strings, "Edit"), "Edit", "Article", new { area = "DataBase", id = "-1" }, "fa fa-book fa-fw")';

        return link.replace("-1", cellvalue);
    }

    function openOrder(cellvalue, options, rowobject) {

        var s = cellvalue.split("%");
        var caption = s[0];
        var codDocument = s[1];

        var link = '@Html.ActionLink("-2", "EditOrder", "Document", new { area="Working", id = "-1" }, new { @class = "tbutton smalledit" })';

        return link.replace("-1", codDocument).replace("-2", caption);
    }

    function typeOfMov(cellvalue, options, rowobject) {

        var s = cellvalue.split("%");

        var value = s[0];
        var CodWarehouseArticleMov = s[1];
        var CodWarehouseArticle = s[2];

        var link = "type";
        var unload = '@HttpContext.GetLocalResourceObject(strings, "UnloadType")'; //0
        var load = '@HttpContext.GetLocalResourceObject(strings, "LoadType")'; //1
        var order = '@HttpContext.GetLocalResourceObject(strings, "OrderType")'; //2
        var reserve = '@HttpContext.GetLocalResourceObject(strings, "ReserveType")'; // 3

        if (value == "0")
            return link.replace("type", unload);

        if (value == "1")
            return link.replace("type", load);

        if (value == "2") {
            link = '<a class="nau" name="nau" onClick="transf(%' + CodWarehouseArticleMov + '%,%' + CodWarehouseArticle + '%);return false;" href="#">&&&</a>';
            return link.replace("%", "'").replace("%", "'").replace("%", "'").replace("%", "'").replace("&&&", order);;
        }

        if (value == "3") {
            link = '<a class="nau" name="nau" onClick="transf(%' + CodWarehouseArticleMov + '%,%' + CodWarehouseArticle + '%);return false;" href="#">&&&</a>';
            return link.replace("%", "'").replace("%", "'").replace("%", "'").replace("%", "'").replace("&&&", reserve);;
        }

        return link;
    }

    function editWarehouse(cellvalue, options, rowobject) {

        //        var link2 = '@Html.ActionLink((string)HttpContext.GetLocalResourceObject(strings, "Movments"), "EditArticleOnlyMov", new { id = "-1" }, new { @class = "tbutton smalledit" })';
        var link2 = '@Html.ActionLinkImage((string)HttpContext.GetLocalResourceObject(strings, "Movments"), "EditArticleOnlyMov", "Article", new { area = "DataBase", id = "-1" }, "fa fa-book fa-fw")';

        return link2.replace("-1", cellvalue);

    }


    function typeOfArticle(cellvalue, options, rowobject) {

        var link = "type";
        var sheet = '@HttpContext.GetLocalResourceObject(strings, "SheetPrintableArticleType")';
        var roll = '@HttpContext.GetLocalResourceObject(strings, "RollPrintableArticleType")';
        var object = '@HttpContext.GetLocalResourceObject(strings, "ObjectPrintableArticleType")';
        var rigid = '@HttpContext.GetLocalResourceObject(strings, "RigidPrintableArticleType")';

        var dieSheet = '@HttpContext.GetLocalResourceObject(strings, "DieSheetType")';
        var dieFlat = '@HttpContext.GetLocalResourceObject(strings, "DieFlatRollType")'
        var dieFlexo = '@HttpContext.GetLocalResourceObject(strings, "DieFlexoType")';

        if (cellvalue == "SheetPrintableArticle")
            return link.replace("type", sheet);

        if (cellvalue == "ObjectPrintableArticle")
            return link.replace("type", object);

        if (cellvalue == "RollPrintableArticle")
            return link.replace("type", roll);

        if (cellvalue == "RigidPrintableArticle")
            return link.replace("type", rigid);

        if (cellvalue == "DieSheet")
            return link.replace("type", dieSheet);

        if (cellvalue == "DieFlatRoll")
            return link.replace("type", dieFlat);

        if (cellvalue == "DieFlexo")
            return link.replace("type", dieFlexo);

        return link;
    }

    function formatType(cellvalue, options, rowobject) {

        var link = "FormatType";

        //following string has to be located in view and in validation (metadata)
        var quadrata = '@HttpContext.GetLocalResourceObject(strings, "FormatTypeName0")';
        var ovale = '@HttpContext.GetLocalResourceObject(strings, "FormatTypeName1")';
        var sagomata = '@HttpContext.GetLocalResourceObject(strings, "FormatTypeName2")';
        var rettangolare = '@HttpContext.GetLocalResourceObject(strings, "FormatTypeName3")';
        var triangolare = '@HttpContext.GetLocalResourceObject(strings, "FormatTypeName4")';
        var rotonda = '@HttpContext.GetLocalResourceObject(strings, "FormatTypeName5")';

        if (cellvalue == "0")
            return link.replace("FormatType", quadrata);

        if (cellvalue == "1")
            return link.replace("FormatType", ovale);

        if (cellvalue == "2")
            return link.replace("FormatType", sagomata);

        if (cellvalue == "3")
            return link.replace("FormatType", rettangolare);

        if (cellvalue == "4")
            return link.replace("FormatType", triangolare);

        if (cellvalue == "5")
            return link.replace("FormatType", rotonda);

        return link;
    }

    $("#btnDialogChange").click(function () {

        hideProcessingMsg();

        var grid = jQuery("#list");
        var ids = grid.jqGrid('getGridParam', 'selarrrow');

        hideProcessingMsg();

        if (ids.length > 0) {

            $("#dialog-change").removeClass("hide").dialog({
                height: 250,
                modal: true,
                buttons: {
                    '@Html.T(strings,"DeleteCancel")': function () {
                        $(this).dialog('close');
                    },
                    '@Html.T(strings,"DeleteOk")': function () {
                        sendChanges();
                        hideProcessingMsg();
                        $(this).dialog('close');
                    }
                }
            });
            $("#dialog-change").dialog('option', 'width', 500);
            hideProcessingMsg();
        } else {

            $("#dialog-warning-selection").removeClass("hide").dialog({
                height: 280,
                modal: true,
                buttons: {
                    '@Html.T(strings,"DeleteOk")': function () {
                        hideProcessingMsg();
                        $(this).dialog('close');
                    }
                }
            });
            hideProcessingMsg();
        }

    });

    var transf;

    $(function () {

        transf = function (codWarehouseArticleMov, codWarehouseArticle) {

            hideProcessingMsg();

            $("#dialog-transform-confirm").removeClass("hide").dialog({
                height: 250,
                modal: true,
                buttons: {
                    '@Html.T(strings,"DeleteCancel")': function () {
                        $(this).dialog('close');
                    },
                    '@Html.T(strings,"DeleteOk")': function () {

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("FromReserveToUnload", "Article", null)',
                            data: {
                                codWarehouseArticleMov: codWarehouseArticleMov,
                                codWarehouseArticle: codWarehouseArticle
                            },
                            dataType: "json",
                            success: function (msg) {
                                //if (msg.isRedirect) {
                                //    window.location.href = msg.redirectUrl;
                                //}
                                $("#list").trigger("reloadGrid");
                            },
                            error: function (res, status, exeption) {
                                $("#list").trigger("reloadGrid");

                            }
                        });

                        hideProcessingMsg();
                        $(this).dialog('close');
                    }
                }
            });
            $("#dialog-transform-confirm").dialog('option', 'width', 500);
            hideProcessingMsg();

            return false;
        };
    });

    $("#delete").click(function () {
        var grid = jQuery("#list");
        var ids = grid.jqGrid('getGridParam', 'selarrrow');
        if (ids.length > 0) {

            hideProcessingMsg();

            $("#dialog-confirm").removeClass("hide").dialog({
                width: 'auto',
                heigth: 'auto',
                modal: true,
                buttons: {
                    '@Html.T(strings,"DeleteCancel")': function () {
                        $(this).dialog('close');
                    },
                    '@Html.T(strings,"DeleteOk")': function () {
                        //alert("Confirm");
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("DeleteArticle","Article",null)',
                            data: {
                                ids: JSON.stringify(ids)
                            },
                            dataType: "json",
                            success: function (msg) {
                                //if (msg.isRedirect) {
                                //    window.location.href = msg.redirectUrl;
                                //}
                                $("#list").trigger("reloadGrid");
                            },
                            error: function (res, status, exeption) {
                                $("#list").trigger("reloadGrid");

                            }
                        });

                        hideProcessingMsg();
                        $(this).dialog('close');
                    }
                }
            });
            hideProcessingMsg();
        }
    });


    $("#deleteMov").click(function () {
        var grid = jQuery("#list");
        var ids = grid.jqGrid('getGridParam', 'selarrrow');
        if (ids.length > 0) {

            hideProcessingMsg();

            $("#dialog-confirm").removeClass("hide").dialog({
                width: 'auto',
                heigth: 'auto',
                modal: true,
                buttons: {
                    '@Html.T(strings,"DeleteCancel")': function () {
                        $(this).dialog('close');
                    },
                    '@Html.T(strings,"DeleteOk")': function () {
                        //alert("Confirm");
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("DeleteArticleMov","Article",null)',
                            data: {
                                ids: JSON.stringify(ids)
                            },
                            dataType: "json",
                            success: function (msg) {
                                //if (msg.isRedirect) {
                                //    window.location.href = msg.redirectUrl;
                                //}
                                $("#list").trigger("reloadGrid");
                            },
                            error: function (res, status, exeption) {
                                $("#list").trigger("reloadGrid");

                            }
                        });

                        hideProcessingMsg();
                        $(this).dialog('close');
                    }
                }
            });
            hideProcessingMsg();
        }
    });


    $(function () {

        $("#deleteWarehouseArticle").click(function () {
            var grid = jQuery("#list");
            var ids = grid.jqGrid('getGridParam', 'selarrrow');
            if (ids.length > 0) {

                hideProcessingMsg();

                $("#dialog-confirm").removeClass("hide").dialog({
                    width: 'auto',
                    heigth: 'auto',
                    modal: true,
                    buttons: {
                        '@Html.T(strings,"DeleteCancel")': function () {
                            $(this).dialog('close');
                        },
                        '@Html.T(strings,"DeleteOk")': function () {
                            //alert("Confirm");
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("DeleteWarehouseArticle", "Article", null)',
                                data: {
                                    ids: JSON.stringify(ids)
                                },
                                dataType: "json",
                                success: function (msg) {
                                    //if (msg.isRedirect) {
                                    //    window.location.href = msg.redirectUrl;
                                    //}
                                    $("#list").trigger("reloadGrid");
                                },
                                error: function (res, status, exeption) {
                                    $("#list").trigger("reloadGrid");

                                }
                            });

                            hideProcessingMsg();
                            $(this).dialog('close');
                        }
                    }
                });
                hideProcessingMsg();
            }
        });
    });

</script>
