@model PapiroMVC.Models.SheetPrintableArticleAutoChanges
@using Mvc.HtmlHelpers
@using PapiroMVC.Validation
@using MvcContrib.UI.Grid 

@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
    ViewBag.Title = Html.T(strings, "TitleIndex");
    }

<div id="containerbox"> <!-- Main Page -->

@(Html.jqGrid("ArticleGrid")

  //  .setShrinkToFit(false)

    .setCaption(Html.T(strings, "SheetPrintableArticleGridCaption"))
    .setMultiSelect(true)
    // columns
    .addColumn(new Column("Id")
        .setLabel(Html.T(strings, "OperationsCaption"))
        .setWidth(@Html.T(strings, "OperationsCaptionWidth")==null?60:Convert.ToInt32(@Html.T(strings, "OperationsCaptionWidth")))
        .setCustomFormatter("editArticle")
        .setSortable(false))
    .addColumn(new Column("CodArticle")
        .setLabel(Html.T(strings, "CodArticleCaption"))
        .setWidth(80)
        .setSortable(true))

    .addColumn(new Column("TypeOfMaterial")
        .setLabel(Html.T(strings, "TypeOfMaterialCaption"))
        .setWidth(100)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("NameOfMaterial")
        .setLabel(Html.T(strings, "NameOfMaterialCaption"))
        .setWidth(100)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("Color")
        .setLabel(Html.T(strings, "ColorCaption"))
        .setWidth(100)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("Weight")
        .setLabel(Html.T(strings, "WeightCaption"))
        .setWidth(50)
        .setAlign(Align.right)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("Format")
        .setLabel(Html.T(strings, "FormatCaption"))
        .setWidth(50)
        .setAlign(Align.center)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("SheetPerPacked")
        .setLabel(Html.T(strings, "SheetPerPackedCaption"))
        .setWidth(50)
        .setAlign(Align.right)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("SheetPerPallet")
        .setLabel(Html.T(strings, "SheetPerPalletCaption"))
        .setWidth(50)
        .setAlign(Align.right)
        .setSortable(true)
        .setSearch(true))
                        
    .addColumn(new Column("SupplierName")
        .setLabel(Html.T(strings, "SupplierNameCaption"))
        .setSearch(true)
        .setWidth(150))

    .addColumn(new Column("CostPerKg")
        .setLabel(Html.T(strings, "CostPerKgCaption"))
        .setSearch(true)
        .setWidth(45)
        .setAlign(Align.right))
        
    .addColumn(new Column("CostPerSheet")
        .setLabel(Html.T(strings, "CostPerSheetCaption"))
        .setTitle(false)
        .setSearch(true)
        .setWidth(45)
        .setAlign(Align.right))        
                        
    .setUrl(Url.Action("SheetPrintableArticleList", "Article"))

    .setHeight(300)
    .setRowNum(20)
    .setRowList(new int[] { 10, 20, 50, 100 })
    .setPager("CustomGridAccountPager")
    .setPrint(true)
    .setLoadText("")
    .setAutoWidth(true)
    .setSearchToolbar(true)
    .setViewRecords(true)
   
    // error handler
    .onLoadError(Html.T(strings, "ErrorLoading"))

    // render the html
    .Render()
)
    <br />


 <button type="button" onclick="Javascript:window.location.replace('@Url.Action("CreateSheetPrintableArticle", "Article", new {Area="Database"})');">            
      <i class="icon-plus"></i>     
      @Html.T(strings, "CreateSheetPrintableArticle")
        </button>

 <button type="button" onclick="Javascript:window.location.replace('@Url.Action("WizardSheetPrintableArticle", "Article", new {Area="Database"})');">            
     <i class="icon-plus"></i>       
     @Html.T(strings, "WizardSheetPrintableArticle")
        </button>

    </div>

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
      
<ul class="accordion" data-role="accordion">
    <li>
        <a href="#">@Html.T(strings, "AutoCahngesCaption")</a>
        <div id="sheetPrintableArticleAutoChanges">
            @Html.Partial("_SheetPrintableArticleAutoChanges", Model)
        </div>
    </li>
</ul>

<script type="text/javascript">

    $(window).bind('resize', function () {
        $("#ArticleGrid").setGridWidth($("#body-container").width());
    }).trigger('resize');

</script>