@model PapiroMVC.Models.SheetPrintableArticleAutoChanges
@using Mvc.HtmlHelpers
@using PapiroMVC.Validation
@using MvcContrib.UI.Grid 

@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
    ViewBag.Title = Html.T(strings, "TitleIndex");
    }

<div id="containerbox"> <!-- Main Page -->

<h2>@ViewBag.Title</h2>
<br />

@(Html.jqGrid("ArticleGrid")

    .setCaption(Html.T(strings, "SheetPrintableArticleGridCaption"))
    .setMultiSelect(true)
    // columns
    .addColumn(new Column("Id")
        .setLabel(Html.T(strings, "OperationsCaption"))
        .setWidth(@Html.T(strings, "OperationsCaptionWidth")==null?60:Convert.ToInt32(@Html.T(strings, "OperationsCaptionWidth")))
        .setCustomFormatter("editArticle")
        .setSortable(false))
    .addColumn(new Column("CodArticle")
        .setLabel(Html.T(strings, "CodArticleCaption"))
        .setWidth(80)
        .setSortable(true))

    .addColumn(new Column("TypeOfMaterial")
        .setLabel(Html.T(strings, "TypeOfMaterialCaption"))
        .setWidth(100)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("NameOfMaterial")
        .setLabel(Html.T(strings, "NameOfMaterialCaption"))
        .setWidth(100)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("Color")
        .setLabel(Html.T(strings, "ColorCaption"))
        .setWidth(100)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("Weight")
        .setLabel(Html.T(strings, "WeightCaption"))
        .setWidth(50)
        .setAlign(Align.right)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("Format")
        .setLabel(Html.T(strings, "FormatCaption"))
        .setWidth(50)
        .setAlign(Align.center)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("SheetPerPacked")
        .setLabel(Html.T(strings, "SheetPerPackedCaption"))
        .setWidth(50)
        .setAlign(Align.right)
        .setSortable(true)
        .setSearch(true))

    .addColumn(new Column("SheetPerPallet")
        .setLabel(Html.T(strings, "SheetPerPalletCaption"))
        .setWidth(50)
        .setAlign(Align.right)
        .setSortable(true)
        .setSearch(true))
                        
    .addColumn(new Column("SupplierName")
        .setLabel(Html.T(strings, "SupplierNameCaption"))
        .setSearch(true)
        .setWidth(150))

    .addColumn(new Column("CostPerKg")
        .setLabel(Html.T(strings, "CostPerKgCaption"))
        .setSearch(true)
        .setWidth(45)
        .setAlign(Align.right))
        
    .addColumn(new Column("CostPerSheet")
        .setLabel(Html.T(strings, "CostPerSheetCaption"))
        .setTitle(false)
        .setSearch(true)
        .setWidth(45)
        .setAlign(Align.right))        
                        
    .setUrl(Url.Action("SheetPrintableArticleList", "Article"))

    .setHeight(300)
    .setRowNum(20)
    .setRowList(new int[] { 10, 20, 50, 100 })
    .setPager("CustomGridAccountPager")
    .setPrint(true)
    .setLoadText("")
    .setAutoWidth(true)
    .setSearchToolbar(true)
    .setViewRecords(true)
   
    // error handler
    .onLoadError(Html.T(strings, "ErrorLoading"))

    // render the html
    .Render()
)
    <div class="toolbar">
        <a href="@Url.Action("CreateSheetPrintableArticle")" id="add" class="image-button bg-color-blue fg-color-white" title="@Html.T(strings, "CreateSheetPrintableArticle")"> 
            @Html.T(strings, "CreateSheetPrintableArticle")
            <i class="icon-plus-2 bg-color-red"></i>
        </a>

        <a href="@Url.Action("WizardSheetPrintableArticle")" id="add2" class="image-button bg-color-blue fg-color-white"  title="@Html.T(strings, "WizardSheetPrintableArticle")> 
            @Html.T(strings, "WizardSheetPrintableArticle")
            <i class="icon-loop bg-color-red"  style="width:inherit !important"></i>
        </a>

        <a href="javascript:void(0);" id="linkToChangeDiv" class="image-button default bg-color-pink fg-color-white"  title="@Html.T(strings, "AutoCahngesCaption")>
            @HttpContext.GetLocalResourceObject(strings, "AutoCahngesCaption")
            <i class="icon-wrench bg-color-red"></i>
        </a>    
    </div>

        <a href="javascript:void(0);" class="button default bg-color-pink fg-color-white"  title="@Html.T(strings, "AutoCahngesCaption")>
            @HttpContext.GetLocalResourceObject(strings, "AutoCahngesCaption")
            <i class="icon-wrench bg-color-red"></i>
        </a>    

</div>

<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<div id="popupbox">
    <br />
    <div id="sheetPrintableArticleAutoChanges">            
        @Html.Partial("_SheetPrintableArticleAutoChanges", Model)
    </div>

</div>

<script type="text/javascript">

        $(document).ready(function () {

            HideProcessingMsg();

            $('#popupbox').hide();

            $('#popupBoxClose').click(function () {
                unloadPopupBox();
            });           

            $('#containerbox').click(function () {
                unloadPopupBox();
            });

            $('#linkToChangeDiv').click(function (e) {
                e.stopPropagation();
                loadPopupBox();
            });

            $('#popupbox').on("keydown", function (e) {

                if (e.which == 27) {
                    unloadPopupBox();
                    }
            });

        });

        function unloadPopupBox() {    // TO Unload the Popupbox
            HideProcessingMsg();

            $('#popupbox').fadeOut("fast");
            $("#containerbox").css({ // this is just for style        
                "opacity": "1"
            });
            goToByScroll("#top");
        }

        function loadPopupBox() {    // To Load the Popupbox

            HideProcessingMsg();

            $('#popupbox').fadeIn("fast");
            $("#containerbox").css({ // this is just for style
//                "opacity": "0.3"
            });
            goToByScroll("#popupbox");


            $.blockUI({
                message: 'Saranno variati i dati solo dei ' + jQuery("#ArticleGrid").jqGrid('getGridParam', 'records') + '  articoli in lista. Per selezionare articoli diversi usare i criteri di ricerca.',
                css: {
                    cursor: 'default',
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });

            $('.blockOverlay').attr('title', 'Click to unblock').click($.unblockUI);


            $("#SupplierMaker").focus();
        }

        function goToByScroll(id) {
            // Reove "link" from the ID
            id = id.replace("link", "");

            if (id == "#top") {
                $('html,body').animate({
                    scrollTop: 0
                }, 'slow');
            } else {
                // Scroll
                $('html,body').animate({
                    scrollTop: $(id).offset().top
                }, 'slow');
            }
        }

</script>