@model PapiroMVC.Models.NewMovViewModel
@using PapiroMVC.Validation
@using PapiroMVC.Models

@{
    string strings = "~/Areas/Database/Views/Article/Strings";
}

<div id="status">

    @Scripts.Render("~/bundles/autocomplete")

    @using (Ajax.BeginForm("Action", "Article", new AjaxOptions
{
    UpdateTargetId = "status",
    OnBegin = "showProcessingMsg",
    OnComplete = "hideProcessingMsg",
    OnSuccess = "OnSuccess"
}, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(true)

        <div class="container-fluid">

            <div class="row">

                <div class="col-sm-12 col-md-6">
                    <div id='_WarehouseArticleMov'>
                        @Html.Partial("_WarehouseArticleMov", Model)
                    </div>

                    <br />
                    <p>

                        <input class="btn" type="submit" name="NewMovArticleLoad" value='@HttpContext.GetLocalResourceObject(strings, "NewMovProductLoad")' />
                        <input class="btn" type="submit" name="NewMovArticleUnLoad" value='@HttpContext.GetLocalResourceObject(strings, "NewMovProductUnLoad")' />
                        <input class="btn" type="submit" name="NewMovArticleReserve" value='@HttpContext.GetLocalResourceObject(strings, "NewMovProductReserve")' />
                        <input class="btn" type="submit" name="NewMovArticleOrder" value='@HttpContext.GetLocalResourceObject(strings, "NewMovProductOrder")' />

                    </p>
                    <br />

                </div>

                <div class="col-sm-12 col-md-6">

                    <div id='_WarehouseArticle'>
                        @Html.Partial("_WarehouseArticleInfo", Model)
                    </div>

                </div>
            </div>
        </div>
    }

</div>
