@using PapiroMVC.Validation
@model PapiroMVC.Models.SheetPrintableArticleViewModel

@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "SheetPrintableArticlePalletCostTitle");
}

<h3>@ViewBag.Title</h3>
<br />
    <fieldset>
        <legend>SheetPrintableArticlePalletCost</legend>

      
            @Html.ValidationMessageFor(model => model.SheetPrintableArticlePalletCost)

            @Html.AlgolaEditorFor(model => model.SheetPrintableArticlePalletCost.CostPerKg)
            @Html.AlgolaEditorFor(model => model.SheetPrintableArticlePalletCost.CostPerSheet)

            @Html.HiddenFor(model => model.SheetPrintableArticlePalletCost.TimeStampTable)
            @Html.HiddenFor(model => model.SheetPrintableArticlePalletCost.CodArticleCost)
            @Html.HiddenFor(model => model.SheetPrintableArticlePalletCost.CodArticle)

    </fieldset>