@using PapiroMVC.Validation
@model PapiroMVC.Models.SheetPrintableArticleViewModel

    <fieldset>
        <legend>SheetPrintableArticlePakedCost</legend>

        <h3>Costi di acquisto a pacco</h3>
        <br />
        @Html.AlgolaEditorFor(model => model.SheetPrintableArticlePakedCost.CostPerKg)
        @Html.AlgolaEditorFor(model => model.SheetPrintableArticlePakedCost.CostPerSheet)

        @Html.HiddenFor(model => model.SheetPrintableArticlePakedCost.TimeStampTable)
        @Html.HiddenFor(model => model.SheetPrintableArticlePakedCost.CodArticleCost)
        @Html.HiddenFor(model => model.SheetPrintableArticlePakedCost.CodArticle)

    </fieldset>
