@using System.Linq
@model PapiroMVC.Models.RollPrintableArticleViewModel

@{
    ViewBag.Title = "Modifica dell'articolo: " + @Model.Article.ArticleName;   
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RollPrintableArticleViewModel</legend>
        @Html.EditorFor(model => model.Article)   
       
    </fieldset>
    
        @Html.EditorFor(model => Model.RollPrintableArticleCuttedCost)
        @Html.EditorFor(model => Model.RollPrintableArticleStandardCost)
        
     <p>
        <input type="submit" value="Save" />
     </p>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
             
</>