@using PapiroMVC.Validation
@model PapiroMVC.Models.NewMovViewModel

@{
    string strings = "~/Areas/Database/Views/Article/Strings";

    string name = String.Empty;

    if (Model.ArticleOrProduct != null)
    {
        ViewBag.Title = Model.ArticleOrProduct.Article.ArticleName;
    }
    else
    {
        ViewBag.Title = "";
    }

}

@section title{
    @Html.T(strings, "WarehouseNameCaption")
}

@section description{
    @ViewBag.Title
}

@if(Model.ArticleOrProduct != null)
{
    <button class="btn btn-warning" type="button" onclick="Javascript:window.location.replace('@Url.Action("EditArticleOnlyMov", "Article", new { area = "Database", id = Model.ArticleOrProduct.Article.CodArticle})');">
        <i class="icon-arrow-left bigger-125"></i>
    </button>
    }


@Html.Partial("_NewMovArticle", Model)

@section breadcrumb {

}

@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
}

@section specificPluginScript {
    <script src="~/Content/acetheme/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jquery.ui.touch-punch.min.js"></script>
}

@section ScriptS{
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        document.getElementById("warehouseSlidebar").className = "active open";
    });
</script>