@model PapiroMVC.Models.RollPrintableArticleCost

        <div class="editor-label">
            @Html.LabelFor(model => model.CostPerMl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostPerMl)
            @Html.ValidationMessageFor(model => model.CostPerMl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CostPerMq)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CostPerMq)
            @Html.ValidationMessageFor(model => model.CostPerMq)
        </div>
