@using PapiroMVC.Validation
@model PapiroMVC.Models.RollPrintableArticleViewModelWizard

@{
    string strings = "~/Areas/DataBase/Views/Article/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "RollPrintableArticleViewModelWizard");
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RollPrintableArticleViewModel</legend>

        @Html.HiddenFor(model => model.Article.ArticleName)

        @Html.AlgolaAutocompleteFor(model =>  model.Article.TypeOfMaterial,"TypeOfMaterialAutoComplete","Article")
        @Html.AlgolaAutocompleteFor(model =>  model.Article.NameOfMaterial,"NameOfMaterialAutoComplete","Article")

        @Html.AlgolaAutocompleteFor(model =>  model.Article.Color,"ColorAutoComplete","Article")


        @Html.LabelFor(model => model.Weights)
        @Html.AutocompleteFor(model => model.Weights[0],"WeightAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Weights[1],"WeightAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Weights[2],"WeightAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Weights[3],"WeightAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Weights[4],"WeightAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Weights[5],"WeightAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Weights[6],"WeightAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Weights[7],"WeightAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Weights[8],"WeightAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Weights[9],"WeightAutoComplete","Article")

        @Html.LabelFor(model => model.Widths)
        @Html.AutocompleteFor(model => model.Widths[0],"WidthAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Widths[1],"WidthAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Widths[2],"WidthAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Widths[3],"WidthAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Widths[4],"WidthAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Widths[5],"WidthAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Widths[6],"WidthAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Widths[7],"WidthAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Widths[8],"WidthAutoComplete","Article")
        @Html.AutocompleteFor(model => model.Widths[9],"WidthAutoComplete","Article")

        @Html.AlgolaAutocompleteFor(model =>  model.Article.Hand,"HandAutoComplete","Article")
        
        @Html.AlgolaAutocompleteFor(model =>  model.Article.MqForafait,"MqForafaitAutoComplete","Article")

        @Html.AlgolaAutocompleteFor(model => model.SupplierMaker,"SupplierBusinessNameAutoComplete","CustomerSupplier")
        @Html.AlgolaAutocompleteFor(model => model.SupplyerBuy,"SupplierBusinessNameAutoComplete","CustomerSupplier")


    </fieldset>

    <p>
        <input type="submit" value='@HttpContext.GetLocalResourceObject(strings, "Save")' />
    </p>
}

<div>
    @Html.ActionLink((string)HttpContext.GetLocalResourceObject(strings, "Cancel"), "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}