@model PapiroMVC.Models.Customer

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeStampTable)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeStampTable)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CodCustomerSupplier)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodCustomerSupplier)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BusinessName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BusinessName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VatNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VatNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaxCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaxCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Outdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Outdated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Error)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Error)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsValid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsValid)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
