@using PapiroMVC.Validation
@model PapiroMVC.Models.CustomerSupplierBase

@{        
    string strings = "~/Areas/DataBase/Views/CustomerSupplier/Strings";

    foreach (PapiroMVC.Models.TypeOfBase item in ViewBag.TypeOfBaseList)
    {
        item.BaseName = (string)HttpContext.GetLocalResourceObject(strings, "BaseName" + item.CodTypeOfBase);
    }    
}

<div id="status"> @Scripts.Render("~/bundles/jqueryval")
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "status", OnBegin = "showProcessingMsg", OnComplete = "hideProcessingMsg", OnSuccess="OnSuccess" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CustomerSupplierBase</legend>
                @Html.HiddenFor(model => model.TimeStampTable) 

            @Html.HiddenFor(model => model.CodCustomerSupplier)
            @Html.HiddenFor(model => model.CodCustomerSupplierBase)       

        <br />
        <div>
            <div class="editor-label" style="float:left">
                @Html.LabelFor(model => model.CodTypeOfBase)
            </div>

            <div class="editor-field">
                @Html.DropDownListFor(model => model.CodTypeOfBase,
                new SelectList(ViewBag.TypeOfBaseList, "CodTypeOfBase", "BaseName"))
            </div>
            </div>
        <br />

            @Html.AlgolaEditorFor(model => model.Address)
            @Html.AlgolaEditorFor(model => model.City)
            @Html.AlgolaEditorFor(model => model.PostalCode)
            @Html.AlgolaEditorFor(model => model.Country)
            @Html.AlgolaEditorFor(model => model.Phone)
            @Html.AlgolaEditorFor(model => model.Fax)
            @Html.AlgolaEditorFor(model => model.Email)
            @Html.AlgolaEditorFor(model => model.Note)
            @Html.AlgolaEditorFor(model => model.Referee)
            @Html.AlgolaEditorFor(model => model.Pec)
            @Html.AlgolaEditorFor(model => model.Province)
        <br />
    <p>

        <button type="button" onclick="Javascript:window.location.replace('@Url.Action("IndexBase", "CustomerSupplier", new {Area="Database"})');">            
            <i class="icon-arrow-left"></i>        
            @HttpContext.GetLocalResourceObject(strings, "Cancel")
                </button>

         <button class="default" type="submit">
                 <i class="icon-save"></i>    
                 @HttpContext.GetLocalResourceObject(strings, "Save")
             </button>    
    </p>

    </fieldset>
}

<div>

</div>

    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
