@using PapiroMVC.Validation
@model PapiroMVC.Models.Customer

@{    
    string strings = "~/Areas/DataBase/Views/CustomerSupplier/Strings";
    ViewBag.Title = (string)HttpContext.GetLocalResourceObject(strings, "TitleCreateCustomer");
    }

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Customer</legend>
            @Html.HiddenFor(model => model.TimeStampTable)

            @Html.AlgolaEditorFor(model => model.CodCustomerSupplier)        
            @Html.AlgolaEditorFor(model => model.BusinessName)
            @Html.AlgolaEditorFor(model => model.VatNumber)
            @Html.AlgolaEditorFor(model => model.TaxCode)

            @Html.HiddenFor(model => model.Outdated)

        <p>
            <input type="submit" value='@HttpContext.GetLocalResourceObject(strings, "Save")' />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink((string)HttpContext.GetLocalResourceObject(strings, "Cancel"), "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}