@using PapiroMVC.Validation
@using Mvc.HtmlHelpers

@model PapiroMVC.Models.DocumentProduct

@{
    string strings = "~/Areas/Working/Views/Document/Strings";
    string url = Url.Action("Costs", "Document", new { codDocumentProduct = Model.CodDocumentProduct });
}

<table id="costGrid@(Model.CodDocumentProduct)">
    <tr>
        <td />
    </tr>
</table>
<div id="pagerCostGrid(@Model.CodDocumentProduct)"></div>

<script type="text/javascript">

    $(function () {

        var lastSel = -1;

        var myGrid = $("#costGrid@(Model.CodDocumentProduct)").jqGrid({
            url: '@url',
            datatype: 'json',
            colModel: [
                { name: 'Operation', label: '@HttpContext.GetLocalResourceObject(strings, "OperationsCaption")', width: 80, align: 'right', editable: false, hidden: false, formatter: editCost },
                    { name: 'CodCost', width: 60, align: 'right', editable: true, hidden: true },
                    { name: 'Description', label: '@HttpContext.GetLocalResourceObject(strings, "Description")', width: 350, align: 'right', editable: true },
                    { name: 'UnitCost', label: '@HttpContext.GetLocalResourceObject(strings, "UnitCost")', width: 50, align: 'right', editable: false },
                    { name: 'Quantity', label: '@HttpContext.GetLocalResourceObject(strings, "Quantity")', width: 50, align: 'right', editable: false },
                    { name: 'TotalCost', label: '@HttpContext.GetLocalResourceObject(strings, "TotalCost")', width: 50, align: 'right', editable: false }],

            pager: '#pagercostGrid@(Model.CodDocumentProduct)',
            
            rowNum: 100,
            rowList: [100, 200, 500],
            viewrecords: true,
            autowidth: false,
            width: 650,
            
        });

        myGrid.jqGrid('navGrid', '#pagercostGrid@(Model.CodDocumentProduct)', { edit: false, add: false, del: false, search: false });

    });

    function reloadDeficitForWeight() {
        $("#gridDeficitForWeight").trigger("reloadGrid");
    }

</script>