@using PapiroMVC.Validation
@model List<PapiroMVC.Models.DocumentProduct>

@{
    string strings = "~/Areas/Working/Views/Document/Strings";
    ViewBag.Title = "EditDocumentProducts";
}

@section title{
    @Html.T(strings, "Document")
}

@section description{
    @Html.T(strings, "EditDocumentProductsDesc")
}

@section specificPlugInStyle {
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/acetheme/assets/css/ui.jqgrid.css" />
    <link rel="stylesheet" href="~/Content/tabHidden.css" />
}

@section specificPluginScript {
    <script src="~/Content/acetheme/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/acetheme/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
}

<div class="row-fluid">
    <div class="alert alert-block alert-success">
        @Html.Label(Model.First().Product.ProductName)
    </div>

</div>

<div class="widget-header">

    <h4 class="lighter">

        @if (Model.FirstOrDefault().Document.TypeOfDocument == PapiroMVC.Models.Document.DocumentType.Estimate)
        {
            @Html.ActionLink("<-- Preventivo", "EditEstimate", "Document", new { area = "Working", id = Model.FirstOrDefault().Document.CodDocument }, null);
        }

    </h4>

    <div class="widget-toolbar no-border">
        <ul class="nav nav-tabs" id="myTabo">

            @for (int i = 0; i < Model.Count; i++)
            {
                if (i == 0)
                {
                <li class="active">
                    <a data-toggle="tab" href="#frame@((i + 1).ToString())">
                        <i class="blue icon-stackexchange bigger-110"></i>

                        @if (Model[i].Quantity != null)
                        {
                            @Model[i].Quantity.ToString()
                        }
                        else
                        {
                            @Html.Label("****Quantità non impostata");
                        }
                    </a>
                </li>
                }
                else
                {
                <li>
                    <a data-toggle="tab" href="#frame@((i + 1).ToString())">
                        <i class="blue icon-stackexchange bigger-110"></i>

                        @if (Model[i].Quantity != null)
                        {
                            @Model[i].Quantity.ToString()
                        }
                        else
                        {
                            @Html.Label("****Quantità non impostata");
                        }
                    </a>
                </li>
                }
            }

        </ul>
    </div>
</div>

<div class="widget-body" style="height: 500px;">
    <div class="widget-main padding-5 no-padding-left no-padding-right">
        <div class="tab-content padding-0">

            <!-- DocumentProducts -->
            @for (int i = 0; i < Model.Count; i++)
            {
                ViewBag.IndexPart = i;

                if (i == 0)
                {
                <div class="tab-pane in active" id="frame@((i + 1).ToString())">
                    @*griglia dei costi di questa quantità*@
                    @Html.Partial("_Costs", Model[i])
                    @Html.EditorFor(model => model[i])
                </div>
                }
                else
                {
                <div class="tab-pane" id="frame@((i + 1).ToString())">
                    @*griglia dei costi di questa quantità*@
                    @Html.Partial("_Costs", Model[i])
                    @Html.EditorFor(model => model[i])
                </div>
                }
            }

        </div>
    </div>
</div>

@Html.Partial("_CostsCommonScript")

<script>

    $(function () {

        $('a[data-toggle="tab"]').on('shown', function () {
            //save the latest tab; use cookies if you like 'em better:
            localStorage.setItem('lastTab@(Model.First().CodDocumentProduct)', $(this).attr('href'));
        });

        //go to the latest tab, if it exists:
        var lastTab = localStorage.getItem('lastTab@(Model.First().CodDocumentProduct)');

        if (lastTab) {
            $('a[href=' + lastTab + ']').tab('show');
        }
        else {
            // Set the first tab if cookie do not exist
            $('a[data-toggle="tab"]:first').tab('show');
        }
    });

</script>
