@using PapiroMVC.Validation

@{
    string strings = "~/Areas/DataBase/Views/HomeDb/Strings";
    ViewBag.MetaTitle = Html.T(strings, "MetaTitle");
}

<div class="alert alert-block alert-success">
    <button type="button" class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
    </button>

    <i class="icon-ok green"></i>
    @Html.T(strings, "Message1") <b>@Html.T(strings, "Message1_I")</b> @Html.T(strings, "Message1_II")
</div>

<p>
    @Html.T(strings, "Message2") <b>@Html.T(strings, "Message2_I")</b> @Html.T(strings, "Message2_II") 
</p>
<div class="vspace"></div>
<p>
    @Html.T(strings, "Message3") <b>@Html.T(strings, "Message3_I")</b> @Html.T(strings, "Message3_II")
    @Html.T(strings, "Message3_III") <b>@Html.T(strings, "Message3_I")</b>.
</p>


@Html.Action("LoginInvite", "Account", new { area = "Account" }).If(!User.Identity.IsAuthenticated)

@section title{
    @Html.T(strings, "DataBase")
}

@section description{
    @Html.T(strings, "Home")
}

@section breadcrumb {

}