@using PapiroMVC.Validation

@{   
    string strings = "~/Views/Home/Strings";
    ViewBag.MetaTitle = "Gestionale per Tipografie, Litografie e Stampa Digitale. Il migliore";     
}

@Html.Action("MetaGenerator", new
{ 
    area = "",    
    page = @Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))
})


@section title{
    @Html.T(strings, "AboutTitle")
}

@section description{
    @Html.T(strings, "AboutDesc")
}

<div class="span12">

    <div class="span12">

        <p>
            Il miglior software gestionale per tipografie e service di stampa offset e digitale completamente cloud. PapiroStar è il gestionale ideato per preventivi, gestione commesse, magazzino per tipografie. 
        </p>

    </div>

</div>


@*@Html.Action("LoginInvite", "Account", new { area = "Account" }).If(!User.Identity.IsAuthenticated)*@


<div class="span12">
    <div class="space-5"></div>

    @section specificPlugInStyle {
        <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />
    }

    @section specificPluginScript {
        <script src="~/Content/acetheme/assets/js/jquery-ui-1.10.3.full.min.js"></script>
        <script src="~/Content/acetheme/assets/js/jquery.ui.touch-punch.min.js"></script>
    }

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }

</div>


<span class='st_sharethis_hcount' displaytext='ShareThis'></span>
<span class='st_facebook_hcount' displaytext='Facebook'></span>
<span class='st_twitter_hcount' displaytext='Tweet'></span>
<span class='st_linkedin_hcount' displaytext='LinkedIn'></span>
<span class='st_pinterest_hcount' displaytext='Pinterest'></span>
<span class='st_email_hcount' displaytext='Email'></span>

<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({ publisher: "b7885f9a-6e87-4b09-b610-1c9cf6e7e4f1", doNotHash: true, doNotCopy: true, hashAddressBar: false });</script>
