@using PapiroMVC.Validation

@{
    string strings = "~/Views/Home/Strings";
    var uri = Url.RouteUrl("DefaultApi", new { httproute = "", controller = "account/logoff" });

}

@Html.Action("MetaGenerator", new
{
    area = "",
    page = @Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))
})


@section title{
    @Html.T(strings, "ECommerceTitle")
}

@section description{
    @Html.T(strings, "EcommerceDesc")
}

@{
    ViewContext.RequestContext.RouteData.DataTokens.Add("GoingToRenderChildAction", true);
}

@{
    ViewContext.RequestContext.RouteData.DataTokens["GoingToRenderChildAction"] = false;
}

<div class="span12">

    <div class="span12">

        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>

            <i class="icon-ok green"></i>
            @Html.T(strings, "Ecommerce1")
        </div>


        <ol class="round">
            <li>
                <h5 class="blue">eCommerce - per tutti</h5>
                Un sito e-commerce è un vero e proprio negozio che a differenza dei negozi tradizionali, può raggiungere molti più clienti grazie ad internet.
            </li>
            <li>
                <h5 class="blue">eCommerce - per la stampa</h5>
                Costruire un e-commerce dedicato alla vendita online della stampa è un’attività che richiede una specifica competenza per fare in modo che un utente non sia confuso dalle molteplici funzionalità presenti nel sito. Gli stampati sono ottimizzati per i motori e realizzati da PapiroStar hanno tutte le caratteristiche per rendere semplice l’acquisto da parte degli utenti e sono realizzati con il più efficiente strumento di sviluppo dedicato a questa tipologia di siti.
            </li>
            <li>
                <h5 class="blue">eCommerce - la nostra soluzione</h5>
                Possiamo realizzare diversi tipi di e-commerce per arti grafiche dedicati alla vendita online: dal “semplice” e-shop al più complesso portale interfacciato con il sistema gestionale PapiroStar. Qualunque sia la tua idea di e-commerce, PapiroStar la realizza per te!
            </li>
        </ol>


    </div>

</div>


@*@Html.Action("LoginInvite", "Account", new { area = "Account" }).If(!User.Identity.IsAuthenticated)*@


<div class="span12">
    <div class="space-5"></div>

    @section specificPlugInStyle {
        <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />
    }

    @section specificPluginScript {
        <script src="~/Content/acetheme/assets/js/jquery-ui-1.10.3.full.min.js"></script>
        <script src="~/Content/acetheme/assets/js/jquery.ui.touch-punch.min.js"></script>
    }

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>

<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({ publisher: "b7885f9a-6e87-4b09-b610-1c9cf6e7e4f1", doNotHash: true, doNotCopy: true, hashAddressBar: false });</script>


<script>


</script>