@using PapiroMVC.Validation

@{
    string strings = "~/Views/Home/Strings";
}

@Html.Action("MetaGenerator", new
{
    area = "",
    page = @Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath))
})

@section title{
    @Html.T(strings, "HomeTitle")
}

@section description{
    @Html.T(strings, "HomeDesc")
}

@{
    ViewContext.RequestContext.RouteData.DataTokens.Add("GoingToRenderChildAction", true);
}

@{
    ViewContext.RequestContext.RouteData.DataTokens["GoingToRenderChildAction"] = false;
}

<div class="span12">

    <div class="span12">

        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
            </button>

            <i class="icon-ok green"></i>
            @Html.T(strings, "Advise1")
        </div>

        <p>
            Il miglior software gestionale per tipografie e service di stampa offset e digitale completamente cloud. PapiroStar è il gestionale ideato per preventivi, gestione commesse, magazzino per tipografie.
        </p>

        <ol class="round">
            <li class="one">
                <h5 class="green">Gestisci il tuo profilo</h5>
                PapiroStar permette di gestire in piena autonomia il proprio profilo,
                impostare i propri dati e modificarli in ogni momento.
                Permette di caricare documenti di vario tipo e condividerli con gli utenti del sistema.
            </li>

            <li class="two">
                <h5 class="green">La tua azienda</h5>
                PapiroStar consente di creare senza limiti listini, aggiornare prezzi in piena autonomia.
            </li>

            <li class="three">
                <h5 class="green">Crea preventivi</h5>
                PapiroStar rappresenta un ottimo strumento per creare in modo semplice e veloce preventivi per stampa digitale offset e grande formato.
            </li>
        </ol>

    </div>

</div>


@*@Html.Action("LoginInvite", "Account", new { area = "Account" }).If(!User.Identity.IsAuthenticated)*@


<div class="span12">
    <div class="space-5"></div>

    @section specificPlugInStyle {
        <link rel="stylesheet" href="~/Content/acetheme/assets/css/jquery-ui-1.10.3.full.min.css" />



    }

    @section specificPluginScript {
        <script src="~/Content/acetheme/assets/js/jquery-ui-1.10.3.full.min.js"></script>
        <script src="~/Content/acetheme/assets/js/jquery.ui.touch-punch.min.js"></script>

        <!--ace scripts-->
        <script src="~/Content/acetheme/assets/js/ace-elements.min.js"></script>
        <script src="~/Content/acetheme/assets/js/ace.min.js"></script>

    }

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>


<span class='st_sharethis_hcount' displaytext='ShareThis'></span>
<span class='st_facebook_hcount' displaytext='Facebook'></span>
<span class='st_twitter_hcount' displaytext='Tweet'></span>
<span class='st_linkedin_hcount' displaytext='LinkedIn'></span>
<span class='st_pinterest_hcount' displaytext='Pinterest'></span>
<span class='st_email_hcount' displaytext='Email'></span>

<script type="text/javascript">var switchTo5x = true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({ publisher: "b7885f9a-6e87-4b09-b610-1c9cf6e7e4f1", doNotHash: true, doNotCopy: true, hashAddressBar: false });</script>


@*
    <div class="bs-example">
        <p class="popover-examples">
            <a href="#" class="btn btn-lg btn-primary" data-toggle="popover" data-content="And here's some amazing content. It's very engaging.">Popover Example</a>
        </p>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".popover-examples a").popover();
        });
    </script>
*@
